@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

.userFull {
  background-image: url("../img/backend-bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto; }
  .userFull img {
    vertical-align: middle; }

nav {
  width: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box; }
  nav .navUser {
    width: 100%;
    height: 200px; }
    nav .navUser .logo {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 10px; }
      nav .navUser .logo img {
        width: 100%; }
    nav .navUser .userName {
      width: 50%;
      float: left;
      color: #FFF;
      box-sizing: border-box;
      padding: 10px;
      text-align: left; }
      nav .navUser .userName h3 {
        padding: 20% 0; }
      nav .navUser .userName .loginOut {
        padding-top: 10%;
        text-align: right; }
        nav .navUser .userName .loginOut a {
          text-decoration: none;
          color: #FFF; }
          nav .navUser .userName .loginOut a:hover {
            color: #6cd5ff; }
      nav .navUser .userName img {
        width: 20px; }
  nav .navBarContent {
    width: 100%;
    box-sizing: border-box; }
    nav .navBarContent a {
      font: 18px "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
      padding: 30px;
      display: block;
      text-decoration: none;
      color: #FFF; }
      nav .navBarContent a:hover {
        background-color: rgba(0, 255, 255, 0.3); }

.wrapContent {
  box-sizing: border-box;
  width: 85%;
  float: right;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8); }
  .wrapContent .content {
    width: 95%;
    margin: auto;
    text-align: left;
    border: 1px solid #CCC;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #6cd5ff; }
    .wrapContent .content h1 {
      font: 36px "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
      padding: 50px;
      text-align: center; }
    .wrapContent .content .addUser {
      margin-left: 60px;
      margin-bottom: 20px;
      background-color: black;
      border: 1px solid cyan;
      border-radius: 3px;
      color: rgba(255, 255, 255, 0.8);
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      outline: none;
      cursor: pointer; }
      .wrapContent .content .addUser:hover {
        background-color: rgba(0, 255, 255, 0.8);
        color: #000; }
    .wrapContent .content .lightBox {
      display: none;
      background-color: #000;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 500px;
      height: 650px;
      overflow: auto;
      border: 1px solid #6cd5ff; }
      .wrapContent .content .lightBox h2 {
        font-size: 24px;
        font-family: '微軟正黑體';
        text-align: center;
        padding: 10px; }
      .wrapContent .content .lightBox table {
        margin: auto;
        text-align: left; }
        .wrapContent .content .lightBox table tr, .wrapContent .content .lightBox table td {
          padding: 10px 20px;
          vertical-align: middle; }
        .wrapContent .content .lightBox table tr:last-child {
          text-align: center; }
          .wrapContent .content .lightBox table tr:last-child td {
            padding-top: 50px; }
  .wrapContent .lightBoxManagement {
    display: none;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 700px;
    height: 550px;
    overflow: auto;
    border: 1px solid #6cd5ff; }
    .wrapContent .lightBoxManagement h2 {
      text-align: center;
      padding: 20px;
      font-size: 24px;
      font-family: '微軟正黑體'; }
    .wrapContent .lightBoxManagement .expertInfo {
      padding-bottom: 50px; }
      .wrapContent .lightBoxManagement .expertInfo:before {
        content: '';
        display: block;
        position: absolute;
        top: 180px;
        left: 25px;
        width: 650px;
        height: 1px;
        background-color: rgba(147, 147, 147, 0.5); }
      .wrapContent .lightBoxManagement .expertInfo .expertName {
        vertical-align: bottom;
        padding-right: 20px; }
      .wrapContent .lightBoxManagement .expertInfo .expertMonth {
        padding: 0px 180px 0px 150px;
        vertical-align: bottom; }
      .wrapContent .lightBoxManagement .expertInfo div {
        position: relative;
        width: 150px;
        display: inline-block; }
        .wrapContent .lightBoxManagement .expertInfo div img {
          width: 100%; }
    .wrapContent .lightBoxManagement .expertDated {
      width: 650px;
      margin-left: 30px;
      margin-bottom: 50px; }
      .wrapContent .lightBoxManagement .expertDated tr, .wrapContent .lightBoxManagement .expertDated td {
        padding: 10px 0px; }
    .wrapContent .lightBoxManagement .expertDatedEmpty {
      width: 340px;
      margin-left: 30px;
      margin-bottom: 30px; }
      .wrapContent .lightBoxManagement .expertDatedEmpty tr, .wrapContent .lightBoxManagement .expertDatedEmpty td {
        padding: 10px 0px; }
    .wrapContent .lightBoxManagement .cancelBtnGroup {
      text-align: center; }

.userTable {
  text-align: center;
  width: 100%; }
  .userTable tr, .userTable td {
    padding: 10px; }
  .userTable .tableTitle {
    background-color: #c2a25e;
    color: #000; }
