@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 10px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 10px; }

p {
  font-size: 10px; }

* {
  box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: #202164; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95cce4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f83ad; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

.title {
  top: 200px;
  position: relative;
  margin: auto;
  width: 100%; }
  .title h1 {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0; }
  .title #can {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
  .title #canvas1 {
    position: absolute;
    animation: aa 30s 0s infinite; }
  .title #canvas2 {
    animation: bb 30s 0s infinite; }

@media screen and (max-width: 767px) {
  .title {
    top: 100px; } }

@keyframes aa {
  0% {
    transform: rotate(0deg); }
  8.3333% {
    transform: rotate(30deg); }
  16.6667% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.3333% {
    transform: rotate(120deg); }
  41.6667% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.3333% {
    transform: rotate(210deg); }
  66.6667% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.3333% {
    transform: rotate(300deg); }
  91.6667% {
    transform: rotate(330deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes bb {
  0% {
    transform: rotate(0deg); }
  8.3333% {
    transform: rotate(-30deg); }
  16.6667% {
    transform: rotate(-60deg); }
  25% {
    transform: rotate(-90deg); }
  33.3333% {
    transform: rotate(-120deg); }
  41.6667% {
    transform: rotate(-150deg); }
  50% {
    transform: rotate(-180deg); }
  58.3333% {
    transform: rotate(-210deg); }
  66.6667% {
    transform: rotate(-240deg); }
  75% {
    transform: rotate(-270deg); }
  83.3333% {
    transform: rotate(-300deg); }
  91.6667% {
    transform: rotate(-330deg); }
  100% {
    transform: rotate(-360deg); } }

.cloud_group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; }
  .cloud_group .cloud1 {
    width: 50%;
    min-width: 300px; }
  .cloud_group .cloud2 {
    width: 35%;
    min-width: 200px; }

.panel {
  width: 1200px;
  margin: 100px auto; }

@media screen and (max-width: 1200px) {
  .panel {
    width: 90%;
    margin: 80px auto; } }

/* ---- button ---- */
.button-group {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #6cd5ff; }
  .button-group .button-top,
  .button-group .button-down {
    display: inline-block; }
  .button-group .button {
    display: inline-block;
    padding: 8px 30px;
    margin: 10px 20px;
    background: transparent;
    border: 1px solid #6cd5ff;
    color: #6cd5ff;
    font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    font-size: 18px;
    cursor: pointer;
    position: relative; }
  .button-group .button:hover {
    background-color: #B5E9F9;
    color: #222; }
  .button-group .button:active,
  .button-group .button.is-checked {
    background-color: #B5E9F9; }
  .button-group .button.is-checked {
    color: #000; }

@media screen and (max-width: 900px) {
  .button-group .button {
    padding: 4px 20px;
    margin: 5px 10px;
    font-size: 16px; } }

@media screen and (max-width: 650px) {
  .button-group .button-top,
  .button-group .button-down {
    display: block; } }

/* ---- .element-item ---- */
.grid .element-item {
  width: 250px;
  margin: 25px;
  text-align: center; }
  .grid .element-item h2 {
    font-size: 22px;
    margin-top: 10px; }
  .grid .element-item h3 {
    font-size: 20px;
    margin: 10px; }
  .grid .element-item .pic {
    width: 160px;
    margin: auto;
    position: relative;
    cursor: pointer; }
    .grid .element-item .pic .attr {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px;
      font-size: 16px;
      left: -20px;
      top: -10px; }
    .grid .element-item .pic img {
      width: 100%; }
  .grid .element-item .score {
    margin-top: 10px; }
    .grid .element-item .score span {
      color: #ffffff;
      font-size: 16px;
      padding-right: 5px; }
    .grid .element-item .score img {
      vertical-align: text-bottom;
      width: 20px; }
  .grid .element-item .mark {
    font-size: 16px;
    color: #ffffff; }
    .grid .element-item .mark img {
      width: 25px;
      margin: 10px; }

@media screen and (max-width: 991px) {
  .grid .element-item {
    width: 200px;
    margin: 15px; }
    .grid .element-item h2 {
      font-size: 20px; }
    .grid .element-item .pic {
      width: 130px; }
      .grid .element-item .pic .attr {
        font-size: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px; }
    .grid .element-item h3 {
      font-size: 16px; }
    .grid .element-item .score {
      margin-top: 10px; }
      .grid .element-item .score span {
        font-size: 14px;
        padding-right: 2px; }
      .grid .element-item .score img {
        width: 15px; }
    .grid .element-item .mark {
      font-size: 14px; }
      .grid .element-item .mark img {
        width: 20px;
        margin: 5px;
        margin-bottom: 10px; } }

@media screen and (min-width: 650px) {
  .grid .element-item {
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.8); }
  .grid .element-item.blue {
    border: 3px solid rgba(108, 213, 255, 0.5); }
  .grid .element-item.orange {
    border: 3px solid rgba(207, 169, 114, 0.5); }
  .grid .element-item.green {
    border: 3px solid rgba(128, 194, 105, 0.5); }
  .grid .element-item .aside h3 {
    display: none; } }

@media screen and (max-width: 650px) {
  .grid .element-item:after {
    content: "";
    display: block;
    clear: both; }
  .grid .element-item.blue {
    border-bottom: 2px dashed rgba(108, 213, 255, 0.5); }
  .grid .element-item.orange {
    border-bottom: 2px dashed rgba(207, 169, 114, 0.5); }
  .grid .element-item.green {
    border-bottom: 2px dashed rgba(128, 194, 105, 0.5); }
  .grid .element-item {
    width: 90%;
    padding-bottom: 15px;
    margin: 15px 15px 5px; }
    .grid .element-item h2 {
      font-size: 18px;
      margin: 0 auto 10px; }
    .grid .element-item h3 {
      font-size: 16px;
      display: none; }
    .grid .element-item .main {
      float: left;
      width: 50%;
      display: inline-block; }
      .grid .element-item .main .pic {
        width: 100px; }
    .grid .element-item .aside {
      float: right;
      width: 50%;
      display: inline-block;
      text-align: left;
      margin-top: 10px; }
      .grid .element-item .aside h3 {
        display: block;
        padding-left: 20px;
        font-size: 18px; }
      .grid .element-item .aside .score,
      .grid .element-item .aside .mark {
        margin-top: 5px; } }

.grid .element-item.blue h2 {
  color: #6cd5ff; }

.grid .element-item.blue .pic .attr {
  background-color: #094f91; }

.grid .element-item.orange h2 {
  color: #cfa972; }

.grid .element-item.orange .pic .attr {
  background-color: #ad7f43; }

.grid .element-item.green h2 {
  color: #80c269; }

.grid .element-item.green .pic .attr {
  background-color: #486a00; }

#lightBox:after {
  content: "";
  display: block;
  clear: both; }

#lightBox1 {
  margin: auto;
  width: 960px;
  height: 600px;
  overflow: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid rgba(108, 213, 255, 0.5); }
  #lightBox1 #closeBtn {
    width: 50px;
    float: right;
    cursor: pointer; }
  #lightBox1 h1 {
    color: #6cd5ff;
    margin-top: 50px; }
  #lightBox1 h2 {
    margin-top: 30px; }
  #lightBox1 .content {
    margin-top: 20px; }
    #lightBox1 .content .expPic {
      vertical-align: bottom;
      display: inline-block;
      margin: 0 50px;
      width: 200px;
      position: relative; }
      #lightBox1 .content .expPic .attr {
        position: absolute;
        width: 65px;
        height: 65px;
        background-color: #094f91;
        border-radius: 50%;
        line-height: 65px;
        font-size: 20px;
        left: -20px;
        top: -20px; }
      #lightBox1 .content .expPic img {
        width: 100%;
        min-width: 100px; }
    #lightBox1 .content .data {
      display: inline-block;
      margin: 0 50px;
      text-align: justify; }
      #lightBox1 .content .data h3 {
        font-size: 22px;
        margin: 15px 0;
        text-align: center; }
      #lightBox1 .content .data .chart {
        outline: 1px solid #f00;
        margin-top: 30px; }
        #lightBox1 .content .data .chart span {
          font-size: 18px;
          margin-right: 10px;
          line-height: 1.8; }
        #lightBox1 .content .data .chart .line {
          width: 100px;
          height: 10px;
          background-color: #aaa;
          display: inline-block;
          border-radius: 5px; }
    #lightBox1 .content .record {
      display: inline-block; }
      #lightBox1 .content .record .collect {
        float: left; }
      #lightBox1 .content .record .writeComment {
        float: right; }
      #lightBox1 .content .record .collect,
      #lightBox1 .content .record .writeComment {
        margin: 10px; }
        #lightBox1 .content .record .collect #heart,
        #lightBox1 .content .record .collect #write,
        #lightBox1 .content .record .writeComment #heart,
        #lightBox1 .content .record .writeComment #write {
          width: 28px;
          height: 26px;
          cursor: pointer; }
        #lightBox1 .content .record .collect .txt,
        #lightBox1 .content .record .writeComment .txt {
          font-size: 16px;
          line-height: 2.5; }
        #lightBox1 .content .record .collect #Cnum,
        #lightBox1 .content .record .collect #Wnum,
        #lightBox1 .content .record .writeComment #Cnum,
        #lightBox1 .content .record .writeComment #Wnum {
          font-size: 14px;
          color: #aaaaaa; }
  #lightBox1 .comment {
    width: 60%;
    margin: 80px auto; }
    #lightBox1 .comment h2 {
      text-align: justify; }
    #lightBox1 .comment .score {
      text-align: right; }
      #lightBox1 .comment .score p {
        display: inline;
        font-size: 20px;
        padding-right: 10px; }
      #lightBox1 .comment .score span {
        font-size: 16px;
        padding-right: 5px; }
      #lightBox1 .comment .score img {
        vertical-align: text-bottom;
        width: 20px; }
    #lightBox1 .comment .message {
      border-bottom: 1px dashed rgba(108, 213, 255, 0.5);
      margin: 20px auto 0;
      padding-bottom: 20px;
      width: 100%; }
      #lightBox1 .comment .message .user {
        width: 100%;
        height: 80px;
        position: relative; }
        #lightBox1 .comment .message .user .name {
          position: absolute;
          left: 60px;
          top: 10px;
          padding: 10px 25px;
          background-color: #094f91;
          font-size: 16px;
          letter-spacing: 2px; }
        #lightBox1 .comment .message .user img {
          position: absolute;
          left: 0;
          width: 80px;
          border-radius: 50%; }
      #lightBox1 .comment .message p {
        margin-top: -10px;
        margin-left: 90px;
        font-size: 16px;
        text-align: left; }

@media screen and (max-width: 1000px) {
  #lightBox1 {
    width: 100%; } }

@media screen and (max-width: 850px) {
  #lightBox1 h1 {
    margin-top: 30px;
    font-size: 24px; }
  #lightBox1 h2 {
    margin-top: 20px;
    font-size: 22px; }
  #lightBox1 .content .expPic {
    margin: 10px;
    width: 150px; }
    #lightBox1 .content .expPic .attr {
      width: 50px;
      height: 50px;
      font-size: 16px;
      line-height: 50px; }
  #lightBox1 .content .data {
    margin: 10px; }
    #lightBox1 .content .data h3 {
      font-size: 20px;
      margin-bottom: 10px; }
    #lightBox1 .content .data .chart {
      margin: auto; }
      #lightBox1 .content .data .chart span {
        font-size: 16px;
        line-height: 1.5; }
  #lightBox1 .content .record {
    margin: 10px auto 0;
    display: block; }
    #lightBox1 .content .record .collect,
    #lightBox1 .content .record .writeComment {
      float: none;
      display: inline-block; }
  #lightBox1 .comment .score p {
    font-size: 16px;
    padding-right: 5px; }
  #lightBox1 .comment .score span {
    font-size: 15px;
    padding-right: 2px; }
  #lightBox1 .comment .score img {
    width: 18px; }
  #lightBox1 .comment .message .user .name {
    left: 45px;
    padding: 6px 25px; }
  #lightBox1 .comment .message .user img {
    width: 60px; }
  #lightBox1 .comment .message p {
    margin-top: 10px;
    margin-left: 20px; } }

footer img {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5; }

footer {
  width: 100%;
  position: relative;
  z-index: -100;
  text-align: center; }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }
