@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 10px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 10px; }

p {
  font-size: 10px; }

* {
  box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: #202164; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95cce4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f83ad; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }

.title {
  top: 200px;
  position: relative;
  margin: auto;
  width: 100%; }
  .title h1 {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 90px;
    bottom: 0;
    right: 0;
    left: 0; }
  .title #can {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
  .title #canvas1 {
    position: absolute;
    animation: aa 30s 0s infinite; }
  .title #canvas2 {
    animation: bb 30s 0s infinite; }

@media screen and (max-width: 767px) {
  .title {
    top: 100px; } }

@keyframes aa {
  0% {
    transform: rotate(0deg); }
  8.3333% {
    transform: rotate(30deg); }
  16.6667% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.3333% {
    transform: rotate(120deg); }
  41.6667% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.3333% {
    transform: rotate(210deg); }
  66.6667% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.3333% {
    transform: rotate(300deg); }
  91.6667% {
    transform: rotate(330deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes bb {
  0% {
    transform: rotate(0deg); }
  8.3333% {
    transform: rotate(-30deg); }
  16.6667% {
    transform: rotate(-60deg); }
  25% {
    transform: rotate(-90deg); }
  33.3333% {
    transform: rotate(-120deg); }
  41.6667% {
    transform: rotate(-150deg); }
  50% {
    transform: rotate(-180deg); }
  58.3333% {
    transform: rotate(-210deg); }
  66.6667% {
    transform: rotate(-240deg); }
  75% {
    transform: rotate(-270deg); }
  83.3333% {
    transform: rotate(-300deg); }
  91.6667% {
    transform: rotate(-330deg); }
  100% {
    transform: rotate(-360deg); } }

.cloud_group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; }
  .cloud_group .cloud1 {
    width: 50%;
    min-width: 300px; }
  .cloud_group .cloud2 {
    width: 35%;
    min-width: 200px; }

.panel {
  width: 1200px;
  margin: 100px auto; }

@media screen and (max-width: 1200px) {
  .panel {
    width: 90%;
    margin: 80px auto; } }

/* ---- button ---- */
.button-group {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #6cd5ff; }
  .button-group .button-top,
  .button-group .button-down {
    display: inline-block; }
  .button-group .button {
    transform: skewX(25deg);
    display: inline-block;
    width: 100px;
    height: 40px;
    color: #fff;
    font: 18px/34px 微軟正黑體;
    border: 0px solid #6cd5ff;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    margin: 10px 15px; }
    .button-group .button span {
      position: absolute;
      transform: skewX(-25deg);
      top: 4px;
      left: 25px; }
  .button-group .button.popular {
    transform: skewX(25deg);
    display: inline-block;
    width: 85px;
    height: 40px;
    color: #fff;
    font: 18px/34px 微軟正黑體;
    border: 0px solid #6cd5ff;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    border-radius: 7px; }
    .button-group .button.popular span {
      position: absolute;
      transform: skewX(-25deg);
      top: 4px;
      left: 25px; }
  .button-group .button.all {
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    transform: skewX(0deg);
    display: inline-block;
    width: 100px;
    height: 40px;
    color: #fff;
    font: 18px/34px 微軟正黑體;
    border: 0px solid #6cd5ff;
    background-color: rgba(71, 138, 245, 0.6);
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5); }
    .button-group .button.all span {
      transform: skewX(0deg);
      position: absolute;
      top: 4px;
      left: 28px; }
  .button-group .button:hover {
    color: #000;
    background-color: #6cd5ff;
    color: #222; }
  .button-group .button.all:hover {
    background-color: #81a2fd; }
  .button-group .button:active,
  .button-group .button.is-checked {
    background-color: #6cd5ff; }
  .button-group .button:active,
  .button-group .button.is-checked.all {
    background-color: #81a2fd; }
  .button-group .button.is-checked {
    color: #000; }

@media screen and (max-width: 900px) {
  .button-group .button {
    padding: 4px 20px;
    margin: 5px 10px;
    font-size: 16px; } }

@media screen and (max-width: 650px) {
  .button-group .button-top,
  .button-group .button-down {
    display: block; } }

/* ---- .expertBox ---- */
.grid .expertBox {
  width: 250px;
  margin: 25px;
  height: 400px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .grid .expertBox .king {
    width: 50px;
    transform: rotate(-30deg);
    margin-left: -60px;
    margin-top: -20px; }
  .grid .expertBox h2,
  .grid .expertBox h3 {
    font-size: 22px;
    display: inline-block;
    margin: 40px 5px 10px; }
  .grid .expertBox h3 {
    font-size: 20px; }
  .grid .expertBox .attr {
    position: absolute;
    background-color: #094f91;
    font-size: 18px;
    padding: 5px 8px;
    right: 40px;
    top: 75px;
    z-index: 5; }
  .grid .expertBox .pic {
    width: 180px;
    height: 280px;
    overflow: hidden;
    margin: auto;
    position: relative;
    cursor: pointer; }
    .grid .expertBox .pic img {
      width: 100%;
      transform: scale(1);
      transition: 0.5s; }
  .grid .expertBox .aside {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0.2) 100%); }
    .grid .expertBox .aside .score {
      padding-top: 25px; }
      .grid .expertBox .aside .score span {
        color: #ffffff;
        font-size: 16px;
        padding-right: 5px; }
      .grid .expertBox .aside .score img {
        vertical-align: text-bottom;
        width: 20px; }
    .grid .expertBox .aside .mark {
      font-size: 15px;
      color: #ffffff; }
      .grid .expertBox .aside .mark img {
        width: 25px;
        margin: 10px; }

@media screen and (min-width: 650px) {
  .grid .expertBox.blue {
    background-image: url("../img/expertImg/techFrame-blue.png"); }
  .grid .expertBox.orange {
    background-image: url("../img/expertImg/techFrame-orange.png"); }
  .grid .expertBox.green {
    background-image: url("../img/expertImg/techFrame-green.png"); }
  .grid .expertBox .aside h3 {
    display: none; }
  .grid .expertBox:before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
    width: 200px;
    height: 300px;
    top: -65px;
    left: -300px;
    transition: 0.5s ease-out;
    transform: skewX(-50deg); }
  .grid .expertBox:hover:before {
    left: 420px;
    top: 120px; }
  .grid .expertBox:hover a img {
    transform: scale(1.2); } }

@media screen and (max-width: 991px) {
  .grid .expertBox {
    width: 200px;
    margin: 15px;
    height: 283px; }
    .grid .expertBox h2 {
      font-size: 20px; }
    .grid .expertBox .pic {
      width: 130px; }
      .grid .expertBox .pic .attr {
        font-size: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px; }
    .grid .expertBox h3 {
      font-size: 16px; }
    .grid .expertBox .score {
      margin-top: 10px; }
      .grid .expertBox .score span {
        font-size: 14px;
        padding-right: 2px; }
      .grid .expertBox .score img {
        width: 15px; }
    .grid .expertBox .mark {
      font-size: 14px; }
      .grid .expertBox .mark img {
        width: 20px;
        margin: 5px;
        margin-bottom: 10px; } }

@media screen and (max-width: 650px) {
  .grid .expertBox.blue {
    border-bottom: 2px dashed rgba(108, 213, 255, 0.5); }
  .grid .expertBox.orange {
    border-bottom: 2px dashed rgba(207, 169, 114, 0.5); }
  .grid .expertBox.green {
    border-bottom: 2px dashed rgba(128, 194, 105, 0.5); }
  .grid .expertBox {
    width: 90%;
    padding-bottom: 15px;
    margin: 15px 15px 5px;
    height: 162px; }
    .grid .expertBox h2 {
      font-size: 18px;
      margin: 0 auto 10px; }
    .grid .expertBox h3 {
      font-size: 16px;
      display: none; }
    .grid .expertBox .main {
      float: left;
      width: 50%;
      display: inline-block; }
      .grid .expertBox .main .pic {
        width: 100px; }
    .grid .expertBox .aside {
      float: right;
      width: 50%;
      display: inline-block;
      text-align: left;
      margin-top: 10px; }
      .grid .expertBox .aside h3 {
        display: block;
        padding-left: 20px;
        font-size: 18px; }
      .grid .expertBox .aside .score,
      .grid .expertBox .aside .mark {
        margin-top: 5px; }
  .grid .expertBox:after {
    content: "";
    display: block;
    clear: both; } }

.grid .expertBox.blue h2 {
  color: #6cd5ff; }

.grid .expertBox.blue .pic .attr {
  background-color: #094f91; }

.grid .expertBox.orange h2 {
  color: #cfa972; }

.grid .expertBox.orange .pic .attr {
  background-color: #ad7f43; }

.grid .expertBox.green h2 {
  color: #80c269; }

.grid .expertBox.green .pic .attr {
  background-color: #486a00; }

#lightBox1 {
  background-image: url(../img/expertImg/lineBg7.png);
  background-repeat: no-repeat;
  margin: auto;
  width: 960px;
  height: 600px;
  overflow: auto;
  text-align: center;
  background-color: black;
  border: 3px solid rgba(108, 213, 255, 0.5); }

#lightBox:after {
  content: "";
  display: block;
  clear: both; }

.content {
  background-image: url(../img/expertImg/starBg.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; }
  .content .conLeft {
    width: 40%;
    position: relative; }
    .content .conLeft .crown {
      width: 80px;
      position: absolute;
      left: 40px;
      top: 5px;
      z-index: 5;
      transform: rotate(-30deg); }
    .content .conLeft .expPic {
      width: 60%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      margin: auto; }
      .content .conLeft .expPic .attr {
        position: absolute;
        background-color: #094f91;
        font-size: 20px;
        padding: 5px 10px;
        right: 10px;
        top: 10px; }
      .content .conLeft .expPic img {
        width: 100%;
        min-width: 100px; }
  .content .conRight {
    margin-top: 50px;
    width: 35%;
    display: flex;
    flex-direction: column; }
    .content .conRight h1 {
      color: #6cd5ff;
      text-align: justify; }
    .content .conRight .rocket {
      margin-left: 10px;
      width: 35px; }
    .content .conRight h2 {
      margin-top: 20px;
      text-align: justify;
      display: inline-block; }

@keyframes rocket {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(60deg); } }
    .content .conRight .data {
      text-align: justify; }
      .content .conRight .data .score {
        margin-top: 30px; }
        .content .conRight .data .score h3 {
          display: inline;
          font-size: 20px;
          padding-right: 10px; }
        .content .conRight .data .score span {
          font-size: 16px;
          padding-right: 5px; }
        .content .conRight .data .score img {
          vertical-align: text-bottom;
          width: 20px; }
      .content .conRight .data .chart {
        margin: 30px 0 20px;
        text-align: justify; }
        .content .conRight .data .chart h3 {
          font-size: 22px;
          margin-left: 35px;
          margin-bottom: 10px; }
        .content .conRight .data .chart span {
          font-size: 18px;
          margin-right: 10px;
          line-height: 1.8; }
        .content .conRight .data .chart .value {
          width: 0px;
          height: 15px;
          background-color: #aaa;
          display: inline-block; }
        .content .conRight .data .chart .value.focus {
          background-color: #6cd5ff; }
        .content .conRight .data .chart .value:nth-of-type(1) {
          animation: value1 1.5s 0.5s 1 forwards; }
        .content .conRight .data .chart .value:nth-of-type(2) {
          animation: value2 1.5s 0.5s 1 forwards; }
        .content .conRight .data .chart .value:nth-of-type(3) {
          animation: value3 1.5s 0.5s 1 forwards; }
        .content .conRight .data .chart .value:nth-of-type(4) {
          animation: value4 1.5s 0.5s 1 forwards; }
        .content .conRight .data .chart .value:nth-of-type(5) {
          animation: value5 1.5s 0.5s 1 forwards; }

@keyframes value1 {
  0% {
    width: 0; }
  100% {
    width: 100px; } }

@keyframes value2 {
  0% {
    width: 0; }
  100% {
    width: 80px; } }

@keyframes value3 {
  0% {
    width: 0; }
  100% {
    width: 50px; } }

@keyframes value4 {
  0% {
    width: 0; }
  100% {
    width: 20px; } }

@keyframes value5 {
  0% {
    width: 0; }
  100% {
    width: 80px; } }
    .content .conRight .record {
      align-self: flex-end; }
      .content .conRight .record .collect {
        display: inline-block; }
      .content .conRight .record .writeComment {
        display: inline-block; }
      .content .conRight .record .collect,
      .content .conRight .record .writeComment {
        margin: 10px; }
        .content .conRight .record .collect #heart,
        .content .conRight .record .collect #write,
        .content .conRight .record .writeComment #heart,
        .content .conRight .record .writeComment #write {
          width: 28px;
          height: 26px;
          cursor: pointer; }
        .content .conRight .record .collect #Cnum,
        .content .conRight .record .collect #Wnum,
        .content .conRight .record .writeComment #Cnum,
        .content .conRight .record .writeComment #Wnum {
          margin-top: 10px;
          font-size: 14px;
          color: #aaaaaa; }

.comment {
  width: 60%;
  margin: 60px auto 80px; }
  .comment .message {
    border-bottom: 1px dashed rgba(108, 213, 255, 0.5);
    margin: 20px auto 0;
    padding-bottom: 20px;
    width: 100%; }
    .comment .message .user {
      width: 100%;
      height: 80px;
      position: relative; }
      .comment .message .user .name {
        position: absolute;
        left: 60px;
        top: 10px;
        padding: 10px 25px;
        -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        background-color: #094f91;
        font-size: 16px;
        letter-spacing: 2px; }
      .comment .message .user img {
        position: absolute;
        left: 0;
        width: 80px;
        border-radius: 50%; }
    .comment .message p {
      margin-top: -10px;
      margin-left: 90px;
      font-size: 16px;
      text-align: left;
      line-height: 1.4; }

@media screen and (max-width: 1000px) {
  #lightBox1 {
    width: 100%; } }

@media screen and (max-width: 850px) {
  #lightBox1 h1 {
    margin-top: 30px;
    font-size: 24px; }
  #lightBox1 h2 {
    margin-top: 20px;
    font-size: 22px; }
  #lightBox1 .content .expPic {
    margin: 10px;
    width: 150px; }
    #lightBox1 .content .expPic .attr {
      width: 50px;
      height: 50px;
      font-size: 16px;
      line-height: 50px; }
  #lightBox1 .content .data {
    margin: 10px; }
    #lightBox1 .content .data h3 {
      font-size: 20px;
      margin-bottom: 10px; }
    #lightBox1 .content .data .chart {
      margin: auto; }
      #lightBox1 .content .data .chart span {
        font-size: 16px;
        line-height: 1.5; }
  #lightBox1 .content .record {
    margin: 10px auto 0;
    display: block; }
    #lightBox1 .content .record .collect,
    #lightBox1 .content .record .writeComment {
      float: none;
      display: inline-block; }
  #lightBox1 .comment .score p {
    font-size: 16px;
    padding-right: 5px; }
  #lightBox1 .comment .score span {
    font-size: 15px;
    padding-right: 2px; }
  #lightBox1 .comment .score img {
    width: 18px; }
  #lightBox1 .comment .message .user .name {
    left: 45px;
    width: 76px;
    height: 28px;
    line-height: 28px;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); }
  #lightBox1 .comment .message .user img {
    width: 60px; }
  #lightBox1 .comment .message p {
    margin-top: 10px;
    margin-left: 20px; } }

footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 183, 255, 0.3), rgba(0, 255, 255, 0.3) 100%); }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }

footer {
  background-image: none; }
  footer img {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1; }
