@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media all and (max-width: 767px) {
  font-size: 12px; }

body {
  font-size: 12px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 12px; }

p {
  font-size: 12px; }

body {
  background-image: url();
  user-select: none; }

img {
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

footer {
  width: 100%;
  position: relative;
  z-index: -100;
  text-align: center; }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

* {
  box-sizing: border-box; }

nav {
  width: 100%;
  height: 100px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  z-index: 99; }

.logo {
  display: inline-block;
  width: 100px; }

nav img {
  width: 100%; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 60px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

#section1 {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative; }

#section2 {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative; }

#section3 {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative; }

.part1, .part2, .part3, .part4 {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; }

.part1 {
  background-image: url("../img/indexBg-part1.jpg"); }

.part2 {
  background-image: url("../img/indexBg-part2.jpg"); }

.part3 {
  background-image: url("../img/indexBg-part3.jpg"); }

.part4 {
  background-image: url("../img/indexBg-part4.jpg"); }

.choPlanet {
  width: 10%;
  height: 20%;
  transition: .5s;
  cursor: pointer;
  position: absolute; }
  .choPlanet img {
    height: 100%;
    position: absolute; }
  .choPlanet .planetBg {
    height: 180%;
    top: -37%;
    right: 10%; }
  .choPlanet span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 40%;
    right: -70%;
    z-index: 5;
    font: 250% 微軟正黑體; }

.choPlt1 {
  top: 20%;
  left: -5%; }

.choPlt2 {
  top: 45%;
  left: 5%; }

.choPlt3 {
  top: 70%;
  left: -5%; }

.choPlt2 span {
  color: #fff; }

.bigPlt {
  width: 36%;
  position: absolute;
  top: 21%;
  left: 32%;
  transition: .5s; }
  .bigPlt img {
    width: 100%; }

.bigPltSan, .bigPltTree {
  transform: scale(0); }

.viewDot {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.pvAll {
  position: absolute;
  width: 10%;
  height: 10%; }

.p1V1 {
  top: 10%;
  left: 25%; }

.p1V2 {
  top: 20%;
  left: 40%; }

.p1V3 {
  top: 60%;
  left: 65%; }

.p1V4 {
  top: 32%;
  left: 76%; }

.p1V5 {
  top: 80%;
  left: 50%; }

.p1V6 {
  top: 66%;
  left: 32%; }

.p1V7 {
  top: 49%;
  left: 86%; }

.p1V8 {
  top: 6%;
  left: 57%; }

.p1V9 {
  top: 34%;
  left: 21%; }

.p1V10 {
  top: 28%;
  left: 19%; }

.p1V11 {
  top: 42%;
  left: 45%; }

.p1V12 {
  top: 74%;
  left: 11%; }

.p1V13 {
  top: 39%;
  left: 74%; }

.p1V14 {
  top: 54%;
  left: 3%; }

.p2V1 {
  top: 25%;
  left: 36%; }

.p2V2 {
  top: 77%;
  left: 49%; }

.p2V3 {
  top: 47%;
  left: 30%; }

.p2V4 {
  top: 52%;
  left: 15%; }

.p2V5 {
  top: 65%;
  left: 86%; }

.p2V6 {
  top: 17%;
  left: 40%; }

.p2V7 {
  top: 20%;
  left: 86%; }

.p2V8 {
  top: 35%;
  left: 75%; }

.p2V9 {
  top: 10%;
  left: 21%; }

.p2V10 {
  top: 50%;
  left: 50%; }

.p3V1 {
  top: 18%;
  left: 50%; }

.p3V2 {
  top: 24%;
  left: 82%; }

.p3V3 {
  top: 50%;
  left: 91%; }

.p3V4 {
  top: 42%;
  left: 9%; }

.p3V5 {
  top: 35%;
  left: 77%; }

.p3V6 {
  top: 52%;
  left: 43%; }

.p3V7 {
  top: 61%;
  left: 18%; }

.p3V8 {
  top: 10%;
  left: 28%; }

.p3V9 {
  top: 73%;
  left: 53%; }

.p3V10 {
  top: 33%;
  left: 70%; }

.speed1, .speed2, .speed3 {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  background-color: #fff;
  border-radius: 20px;
  z-index: 6;
  cursor: pointer; }

.pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 30px;
  z-index: 5;
  opacity: 0;
  border: 4px solid #fff; }

.pulse0s {
  animation: dotHover2 4.8s infinite; }

.pulse3s {
  animation: dotHover2 4.8s 3s infinite; }

.pulse6s {
  animation: dotHover2 4.8s 6s infinite; }

@keyframes dotHover {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  10% {
    transform: scale(0.1);
    opacity: 0.2; }
  20% {
    transform: scale(0.2);
    opacity: 0.4; }
  30% {
    transform: scale(0.3);
    opacity: 0.6; }
  40% {
    transform: scale(0.4);
    opacity: 0.8; }
  50% {
    transform: scale(0.5);
    opacity: 1; }
  60% {
    transform: scale(0.6);
    opacity: 0.8; }
  70% {
    transform: scale(0.7);
    opacity: 0.6; }
  80% {
    transform: scale(0.8);
    opacity: 0.4; }
  90% {
    transform: scale(0.9);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes dotHover2 {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  75% {
    transform: scale(0);
    opacity: 0.0; }
  77.5% {
    transform: scale(0.1);
    opacity: 0.2; }
  80% {
    transform: scale(0.2);
    opacity: 0.4; }
  82.5% {
    transform: scale(0.3);
    opacity: 0.6; }
  85% {
    transform: scale(0.4);
    opacity: 0.8; }
  87.5% {
    transform: scale(0.5);
    opacity: 1; }
  90% {
    transform: scale(0.6);
    opacity: 0.8; }
  92.5% {
    transform: scale(0.7);
    opacity: 0.6; }
  95% {
    transform: scale(0.8);
    opacity: 0.4; }
  97.5% {
    transform: scale(0.9);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.pt2Title {
  width: 20%;
  padding-top: 10%;
  margin: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); }

.pt2Title h2 {
  display: block;
  color: #fff;
  margin-left: 5%;
  line-height: 120%;
  font-weight: bold; }

.pt2Eng {
  padding-top: 40%;
  width: 40%; }

.pt2Cn {
  width: 60%;
  padding: 5% 0% 10% 0%; }

.yesNoImg {
  position: absolute;
  width: 100%;
  height: 110%;
  top: -10%;
  left: 0;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.41, 0.96);
  transition: 1s; }

.noImg {
  clip-path: circle(0% at 76.7% 71%); }

.yesImg {
  clip-path: circle(0% at 20.7% 70.4%); }

.yesNo {
  position: absolute;
  top: 52.7%;
  width: 15%;
  border-radius: 50%;
  border: 2px solid #6cd5ff;
  padding-bottom: 15%;
  transition: 1s; }
  .yesNo span {
    position: absolute;
    color: #fff;
    font: 5vw 微軟正黑體;
    opacity: 1;
    transition: 1s; }
  .yesNo p {
    position: absolute;
    color: #fff;
    font: 1.5vw 微軟正黑體;
    text-align: center;
    opacity: 0;
    transition: 1s; }
  .yesNo a {
    position: absolute;
    top: 61%;
    left: 25%;
    display: block;
    font: 1.2vw/2.5vw 微軟正黑體;
    text-align: center;
    width: 50%;
    height: 17%;
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px #000;
    opacity: 0;
    transition: 0.5s; }

.yesNo a:hover {
  box-shadow: 0px 0px 20px 2px #000;
  background-color: #6cd5ff; }

.no {
  left: 69.2%; }
  .no span {
    top: 28%;
    left: 23%; }
  .no p {
    top: 28%;
    left: 20%; }

.yes {
  left: 13.5%; }
  .yes span {
    top: 28%;
    left: 20%; }
  .yes p {
    top: 28%;
    left: 15%; }

.part3 h2 {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 1.9vw; }

.part3 h3 {
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 1.5vw; }

.part3 a {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  width: 8%;
  height: 5%;
  border: 1px solid #6cd5ff;
  font: 1vw/2.3vw 微軟正黑體;
  text-align: center; }

.part3 a:hover {
  background-color: #6cd5ff; }

.expertAll {
  position: absolute;
  width: 15%;
  top: 30%; }
  .expertAll img {
    width: 100%;
    transform: scale(1);
    transition: 1s; }
  .expertAll .exScreen {
    position: absolute;
    width: 100%;
    height: 100%; }
  .expertAll .scWhite {
    background-color: rgba(255, 255, 255, 0.6);
    transition: 1s;
    transform-origin: right center; }
  .expertAll .scBlack {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s;
    transform-origin: left center; }

.expert1 {
  left: 35.1%; }

.expert2 {
  left: 50%; }

.expert3 {
  left: 65%; }

.expert4 {
  left: 80%; }

.exAllText {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 0%;
  left: 2.5%;
  opacity: 0;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s; }
  .exAllText img {
    position: relative;
    left: 32.5%;
    width: 35%; }
  .exAllText h3 {
    position: relative;
    top: 0%;
    left: 12.5%;
    font: 1.5vw/2vw 微軟正黑體; }
  .exAllText h3 + h3 {
    left: 25.5%;
    font: 1.5vw/2vw 微軟正黑體;
    margin-bottom: 5%; }
  .exAllText p {
    position: relative;
    top: 0%;
    left: 12.5%;
    font: 1vw/2vw 微軟正黑體; }
  .exAllText a {
    position: relative;
    top: 4%;
    left: 24%;
    display: block;
    width: 50%;
    height: 8%;
    border: 1px solid #6cd5ff;
    font: 1vw/2vw 微軟正黑體;
    text-align: center; }
  .exAllText span {
    position: absolute;
    display: block;
    background-color: #6cd5ff;
    width: 1%;
    height: 4%;
    transition: 1s;
    left: 30%; }

.exText4 h3 + h3 {
  left: 20%; }

.exAllText span:nth-of-type(1) {
  top: 37.5%; }

.exAllText span:nth-of-type(2) {
  top: 44.7%; }

.exAllText span:nth-of-type(3) {
  top: 52%; }

.exAllText span:nth-of-type(4) {
  top: 59.4%; }

.exAllText span:nth-of-type(5) {
  top: 66.6%; }

.exAllText span:nth-of-type(6) {
  top: 73.8%; }

.expert1:hover span:nth-of-type(1) {
  width: 10%; }

.expert1:hover span:nth-of-type(2) {
  width: 20%; }

.expert1:hover span:nth-of-type(3) {
  width: 39%; }

.expert1:hover span:nth-of-type(4) {
  width: 48%; }

.expert1:hover span:nth-of-type(5) {
  width: 22%; }

.expert1:hover span:nth-of-type(6) {
  width: 32%; }

.expert2:hover span:nth-of-type(1) {
  width: 18%; }

.expert2:hover span:nth-of-type(2) {
  width: 9%; }

.expert2:hover span:nth-of-type(3) {
  width: 25%; }

.expert2:hover span:nth-of-type(4) {
  width: 42%; }

.expert2:hover span:nth-of-type(5) {
  width: 32%; }

.expert2:hover span:nth-of-type(6) {
  width: 11%; }

.expert3:hover span:nth-of-type(1) {
  width: 35%; }

.expert3:hover span:nth-of-type(2) {
  width: 17%; }

.expert3:hover span:nth-of-type(3) {
  width: 22%; }

.expert3:hover span:nth-of-type(4) {
  width: 49%; }

.expert3:hover span:nth-of-type(5) {
  width: 40%; }

.expert3:hover span:nth-of-type(6) {
  width: 14%; }

.expert4:hover span:nth-of-type(1) {
  width: 36%; }

.expert4:hover span:nth-of-type(2) {
  width: 42%; }

.expert4:hover span:nth-of-type(3) {
  width: 18%; }

.expert4:hover span:nth-of-type(4) {
  width: 50%; }

.expert4:hover span:nth-of-type(5) {
  width: 30%; }

.expert4:hover span:nth-of-type(6) {
  width: 20%; }
