@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.login_modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  background-color: rgba(66, 66, 66, 0.6); }

.regist_box {
  display: none; }

.login_content,
.regist_content {
  /*   display: none; */
  position: absolute;
  top: 40%;
  bottom: 40%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 15;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #08040f;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; }

.login_content {
  padding: 30px 0 130px 0; }

.regist_content {
  padding: 30px 0 170px 0; }

.login_content .close,
.regist_content .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px; }

.login_content .close:hover,
.regist_content .close:hover,
.memberSign {
  cursor: pointer; }

.login_content h3,
.regist_content h3 {
  width: 100%; }

.login_content img,
.regist_content img {
  position: absolute;
  bottom: -25px;
  width: 95px;
  right: 0; }

.login_content .registBtn {
  border-bottom: 1px solid black; }

.login_content .registBtn:hover {
  cursor: pointer; }

/* ------登入頁測試----------*/
.login_content h3,
.regist_content h3 {
  width: 100%;
  padding-bottom: 20px;
  font-weight: 600; }

.login_input input {
  padding: 5px;
  width: 200px;
  transition: 0.3s;
  border: 1px solid black; }

.login_input {
  position: relative;
  padding: 15px; }

.login_lable {
  position: absolute;
  top: 18px;
  left: 20px;
  color: grey;
  font-weight: 600;
  transition: .3s; }

.inputErr_notice {
  position: absolute;
  bottom: -5px;
  right: 18px;
  color: red;
  display: none;
  transition: .3s; }

#regist_btn {
  position: relative;
  z-index: 10; }

.login_content span {
  padding-top: 10px; }
