@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 12px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 12px; }

p {
  font-size: 12px; }

body {
  background-image: url(../img/memComment/bg3.png);
  background-size: cover;
  background-attachment: fixed; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: #202164; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95cce4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f83ad; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

* {
  font-family: 'Microsoft JhengHei';
  font-weight: 500; }

.btn {
  background: #fff;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  padding: 0.5% 1.5%;
  outline: none; }

.btn-w-nb {
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 0.5s ease-in-out; }

.btn-w-nb:hover {
  border: 1px solid #2c8dc7;
  color: #2c8dc7;
  padding: calc( 0.5% + 1px) calc( 1% + 1px); }

.btn-w-b {
  background-color: #fff;
  border: 2px solid #2c8dc7;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: #2c8dc7; }

.btn-w-b:hover {
  box-shadow: 200px 0 0 rgba(255, 96, 56, 0.2) inset;
  border: 2px solid rgba(255, 96, 56, 0.2);
  font-weight: 600; }

.btn-o-nb {
  background-color: #2c8dc7;
  border: 2px solid #2c8dc7;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  color: #fff; }

.btn-o-nb:hover {
  box-shadow: 200px 0 0 #fff inset;
  border: 2px solid #2c8dc7;
  color: #2c8dc7;
  font-weight: 600; }

.like-s,
.unlike-s {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 1% 1.2%; }

.like-s {
  color: #f99;
  animation: blinking 1s linear 3 alternate;
  -moz-animation: blinking 1s linear 3 alternate;
  /* Firefox */
  -webkit-animation: blinking 1s linear 3 alternate;
  /* Safari å’Œ Chrome */
  -o-animation: blinking 1s linear 3 alternate;
  /* Opera */ }

.unlike-s {
  color: #aaa; }

.like-s:hover,
.like-s:hover i {
  animation: blinking 1s linear 3 alternate;
  -moz-animation: blinking 1s linear 3 alternate;
  /* Firefox */
  -webkit-animation: blinking 1s linear 3 alternate;
  /* Safari å’Œ Chrome */
  -o-animation: blinking 1s linear 3 alternate;
  /* Opera */ }

.tab-grop li {
  cursor: pointer; }

@keyframes blinking {
  0% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f99; }
  10% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f88; }
  20% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f77; }
  30% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f66; }
  40% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f55; }
  50% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f66; }
  60% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f77; }
  70% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f88; }
  80% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #f99; }
  90% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #faa; }
  100% {
    text-shadow: 0 0 0.2em #F99, 0 0 0.2em #F99, 0 0 0.2em #F99;
    color: #fbb; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 24px; }
  button {
    font-size: 22px; }
  p {
    font-size: 18px; }
  .like {
    font-size: 30px; }
  .tab-content {
    margin-top: 10vw; }
  .tab-grop li {
    text-align: center;
    font-size: 24px;
    display: block;
    /* border: #FF6138 solid 2px; */
    padding: 0.5%;
    background-color: rgba(255, 255, 255, 0.9); }
  .tab-grop li a {
    text-decoration: none;
    color: #232323; }
  .tab-grop .default {
    background-color: #2c8dc7;
    position: relative; }
  .tab-grop .default a {
    color: #fff; }
  .tab-grop .default::before {
    display: block;
    content: " ... ";
    position: absolute;
    right: 1vw;
    top: calc( 50% - 16px);
    transform: rotateZ(90deg);
    color: #fff; }
  .tab-pane.fade {
    display: none; } }

@media screen and (max-width: 567px) {
  .tab-grop {
    list-style-type: none;
    transition: .3s;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0; }
  .tab-grop .where {
    display: block;
    margin: 0 0;
    text-align: center;
    /*background-image: url('../images/logo.png');*/
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20vw;
    box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.8); } }

@media screen and (min-width: 568px) {
  .tab-grop {
    list-style-type: none;
    transition: .3s;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2000;
    top: 0;
    left: 0; }
  .tab-grop .where {
    display: block;
    margin: 0 0;
    text-align: center;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 15vw;
    box-shadow: 0px 1px 2px rgba(200, 200, 200, 0.5); } }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 24px; }
  button {
    font-size: 20px; }
  p {
    font-size: 18px; }
  .tab-grop .where {
    display: none; }
  .tab-grop {
    list-style-type: none;
    transition: .3s;
    text-align: center; }
  .tab-grop li {
    display: inline-block;
    font-size: 24px;
    border: #2c8dc7 solid 2px;
    padding: 0.5%;
    transition: 0.5s; }
  .tab-grop li a {
    text-decoration: none;
    color: #232323; }
  .default {
    background-color: #2c8dc7;
    position: relative; }
  .tab-grop .default a {
    color: #fff; }
  .tab-grop .default::before {
    display: block;
    content: " ";
    border-color: #FF6138 transparent transparent transparent;
    border-style: solid solid solid solid;
    border-width: 15px 15px 15px 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px); }
  .tab-pane.fade {
    display: none; } }

/* PC */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 24px; }
  button {
    font-size: 20px; }
  p {
    font-size: 12px; }
  .tab-grop .where {
    display: none; }
  .container-s .tab-grop {
    list-style-type: none;
    transition: .3s;
    text-align: center; }
  .tab-grop li {
    font-size: 24px;
    display: inline-block;
    border: #2c8dc7 solid 2px;
    padding: 0.5%;
    transition: 0.5s; }
  .tab-grop li a {
    text-decoration: none;
    color: #232323; }
  .default {
    background-color: #2c8dc7;
    position: relative; }
  .tab-grop .default a {
    color: #fff; }
  .tab-grop .default::before {
    display: block;
    content: " ";
    border-color: #2c8dc7 transparent transparent transparent;
    border-style: solid solid solid solid;
    border-width: 15px 15px 15px 15px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px); }
  .tab-pane.fade {
    display: none; }
  .like-s,
  .unlike-s {
    padding: 0.5% 0.8%; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft JhengHei';
  font-weight: 500; }

.container {
  margin: auto; }

button {
  margin: 10px; }

.btn {
  padding: 0.5% 5px; }

.sidebar_tab .active::before {
  display: block;
  content: " ";
  border-color: #2c8dc7 transparent transparent transparent;
  border-style: solid solid solid solid;
  /* 設定邊框依上、下；左右，各為一群組，相同群組須設定為相同尺寸，調整尺寸可拼湊出任意形狀的三角形 */
  border-width: 15px 15px 15px 15px;
  height: 0px;
  width: 0px;
  bottom: -30px;
  left: calc(50% - 15px); }

.tabPage,
.favorite_page {
  display: none; }

.tabPage.active,
.favorite_page.active {
  display: block; }

.favorite_tab.active {
  background-color: #2c8dc7;
  color: white; }

.sidebar {
  position: relative;
  z-index: 5;
  justify-content: center;
  margin-bottom: 30px; }

.sidebar li a {
  cursor: pointer;
  color: white; }

.member_img input {
  margin-left: 90px;
  color: #fff; }

figure {
  width: 65%;
  overflow: hidden; }

figure img {
  width: 100%; }

#img_update_btn {
  display: none; }

.all_content {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100%;
  background-size: 100%;
  background-attachment: fixed; }

/*.all_content::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.7); }*/
.tabPage {
  top: 200px;
  left: 500px;
  z-index: 4;
  box-sizing: border-size;
  border: 1px solid black;
  padding: 1%;
  max-width: 960px;
  margin: auto;
  text-align: center;
  background-color: #08040f;
  background-size: cover; }

.favorite_box .favorite_page table,
.order_mg_box table,
.comment_mg_box table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  color: #fff; }

.favorite_box .favorite_page table tr,
.order_mg_box table tr,
.comment_mg_box table tr {
  border-bottom: 1px solid #2c8dc7; }

.favorite_box .favorite_page table tr:first-of-type,
.order_mg_box table tr:first-of-type,
.comment_mg_box table tr:first-of-type {
  border-bottom: 3px double #2c8dc7; }

.favorite_box .favorite_page table tr th,
.order_mg_box table tr th,
.comment_mg_box table tr th,
.favorite_box .favorite_page table tr td,
.order_mg_box table tr td,
.comment_mg_box table tr td {
  padding: 10px; }

.account_box,
.favorite_box,
.order_mg_box,
.comment_mg_box {
  padding: 0 10% 3% 10%;
  min-height: calc(100vh - 400px); }

.account_box .title_line,
.favorite_box .title_line,
.order_mg_box .title_line,
.comment_mg_box .title_line {
  display: flex;
  align-items: center;
  padding-bottom: 3%; }

.account_box .title_circle.big,
.favorite_box .title_circle.big,
.order_mg_box .title_circle.big,
.comment_mg_box .title_circle.big {
  width: 30px;
  height: 30px;
  border: 1px solid #2c8dc7;
  border-radius: 50%;
  display: flex; }

.account_box .title_circle.small,
.favorite_box .title_circle.small,
.order_mg_box .title_circle.small,
.comment_mg_box .title_circle.small {
  width: 20px;
  height: 20px;
  background-color: #2c8dc7;
  margin: auto;
  border-radius: 50%; }

.account_box .title_center_line,
.favorite_box .title_center_line,
.order_mg_box .title_center_line,
.comment_mg_box .title_center_line {
  border-bottom: 1px solid #2c8dc7;
  width: 100%; }

.account_box .member_title,
.favorite_box .member_title,
.order_mg_box .member_title,
.comment_mg_box .member_title {
  text-align: left; }

.account_box h3,
.favorite_box h3,
.order_mg_box h3,
.comment_mg_box h3 {
  font-size: 30px;
  padding: 50px 2% 2% 2%;
  color: #fff; }

.account_box .member_img figure {
  width: 200px;
  margin: auto; }

.account_box .member_mod {
  display: none;
  color: #fff; }

.account_box .form_box {
  display: flex;
  justify-content: center; }

.account_box .form_box td {
  padding: 5px; }

.account_box .form_box td #coupon_show {
  color: red; }

.account_box .form_box td input {
  padding: 5px;
  width: 100%; }

.favorite_box .member_delete {
  text-align: center;
  background-color: #777;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 8px auto;
  border-radius: 50%;
  color: #fff;
  cursor: pointer; }

#member_recipe_img {
  width: 200px; }

#member_prod_img {
  width: 200px; }

.look_detail {
  text-align: center;
  background-color: #2c8dc7;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 8px auto;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative; }

.look_detail input {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0; }

.member_buy {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin: auto; }

.member_buy img {
  width: 100%; }

#memUpdate_psw_span {
  color: red; }

@media screen and (max-width: 767px) {
  .sidebar li a {
    color: black; }
  .mob_hidden {
    display: none; }
  .member_img input {
    margin-left: 40px; }
  figure {
    width: 100%; }
  .tabPage {
    margin: 0 15px; }
  .tabPage h3 {
    text-align: center; }
  .member_form {
    margin-top: 5%;
    display: flex;
    justify-content: center; }
  .account_box {
    padding: 0 1% 3% 1%; }
  .account_box .form_box {
    display: block; }
  .order_mg_box {
    margin: 0 2%; }
  .comment_mg_box {
    margin: 0 2%; }
  .favorite_box .favorite_page table,
  .order_mg_box table,
  .comment_mg_box table {
    width: 100%; } }

div[class^=col-] {
  padding: 0 10px;
  float: left;
  box-sizing: border-box; }

.clearfix:after {
  display: block;
  content: " ";
  clear: both; }

.container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box; }

.container-s {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box; }

@media screen and (max-width: 767px) {
  .col-xs-1 {
    width: 8.333333%; }
  .col-xs-2 {
    width: 16.666666%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.333333%; }
  .col-xs-5 {
    width: 41.666666%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.333333%; }
  .col-xs-8 {
    width: 66.666666%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.333333%; }
  .col-xs-11 {
    width: 91.666666%; }
  .col-xs-12 {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.333333%; }
  .col-sm-2 {
    width: 16.666666%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.333333%; }
  .col-sm-5 {
    width: 41.666666%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.333333%; }
  .col-sm-8 {
    width: 66.666666%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.333333%; }
  .col-sm-11 {
    width: 91.666666%; }
  .col-sm-12 {
    width: 100%; } }

@media screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.333333%; }
  .col-md-2 {
    width: 16.666666%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.333333%; }
  .col-md-5 {
    width: 41.666666%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.333333%; }
  .col-md-8 {
    width: 66.666666%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.333333%; }
  .col-md-11 {
    width: 91.666666%; }
  .col-md-12 {
    width: 100%; } }

footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 183, 255, 0.3), rgba(0, 255, 255, 0.3) 100%); }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }

footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 100%); }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }
  .menuMobile img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -200; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }
