@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 12px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 12px; }

p {
  font-size: 12px; }

body {
  background-image: url(../img/memComment/bg3.png);
  background-size: cover;
  background-attachment: fixed; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

.comContent {
  max-width: 960px;
  min-height: 500px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9); }
  .comContent .comment_mg_box h2 {
    font-size: 30px;
    padding: 50px 2% 2% 2%; }
  .comContent .comment_mg_box h3 {
    font-size: 22px;
    text-align: justify;
    margin-top: -10px;
    margin-left: 30px;
    padding: 0; }
  .comContent .comment_mg_box #itemContent_no, .comContent .comment_mg_box #itemContent_al {
    display: flex;
    flex-wrap: wrap; }
    .comContent .comment_mg_box #itemContent_no .comItem_no, .comContent .comment_mg_box #itemContent_no .comItem_al, .comContent .comment_mg_box #itemContent_al .comItem_no, .comContent .comment_mg_box #itemContent_al .comItem_al {
      width: 40%;
      border: 2px solid rgba(108, 213, 255, 0.5);
      padding: 10px;
      margin: 20px 26px 0; }
      .comContent .comment_mg_box #itemContent_no .comItem_no .expImg, .comContent .comment_mg_box #itemContent_no .comItem_al .expImg, .comContent .comment_mg_box #itemContent_al .comItem_no .expImg, .comContent .comment_mg_box #itemContent_al .comItem_al .expImg {
        display: inline-block;
        width: 40%;
        height: 145px;
        overflow: hidden;
        vertical-align: top;
        margin-right: 10px;
        cursor: pointer; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .expImg img, .comContent .comment_mg_box #itemContent_no .comItem_al .expImg img, .comContent .comment_mg_box #itemContent_al .comItem_no .expImg img, .comContent .comment_mg_box #itemContent_al .comItem_al .expImg img {
          width: 100%;
          margin-top: -10px; }
      .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt {
        display: inline-block;
        width: 55%;
        height: 100%;
        text-align: left;
        position: relative; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt h4, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt h4, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt h4, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt h4 {
          font-size: 20px;
          color: #ffffff; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt h5, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt h5, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt h5, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt h5 {
          font-size: 18px;
          letter-spacing: 1px;
          margin-top: 20px;
          color: #ffffff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt p, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt p, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt p, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt p {
          font-size: 14px;
          margin-top: 20px;
          color: #ffffff;
          letter-spacing: 1px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt .commentBtn, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt .commentBtn, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt .commentBtn, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt .commentBtn {
          position: absolute;
          bottom: 0px;
          right: 10px;
          width: 60px;
          height: 35px;
          color: #fff;
          font-size: 18px;
          line-height: 35px;
          border: 1px solid #6cd5ff;
          background-color: transparent;
          text-align: center;
          cursor: pointer; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt .commentBtn:hover, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt .commentBtn:hover, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt .commentBtn:hover, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt .commentBtn:hover {
          background-color: #6cd5ff;
          color: #000; }
        .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt .score, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt .score, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt .score, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt .score {
          position: absolute;
          bottom: 10px; }
          .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt .score span, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt .score span, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt .score span, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt .score span {
            color: #ffffff;
            font-size: 16px;
            padding-right: 5px; }
          .comContent .comment_mg_box #itemContent_no .comItem_no .itemTxt .score img, .comContent .comment_mg_box #itemContent_no .comItem_al .itemTxt .score img, .comContent .comment_mg_box #itemContent_al .comItem_no .itemTxt .score img, .comContent .comment_mg_box #itemContent_al .comItem_al .itemTxt .score img {
            vertical-align: text-bottom;
            width: 20px; }

#lightBox_com {
  position: relative;
  width: 45%;
  height: 60%;
  margin: auto;
  margin-top: 13%;
  border: 2px solid #6cd5ff; }

footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 183, 255, 0.3), rgba(0, 255, 255, 0.3) 100%); }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }

footer {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 100%); }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }
