@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 12px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 12px; }

p {
  font-size: 12px; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }

h3 {
  padding: 100px 0  30px 0px;
  font-size: 30px;
  text-align: left; }

::-webkit-scrollbar {
  width: 15px;
  background: #202164; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95cce4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f83ad; }

h3:nth-child(1), h3:nth-child(4) {
  padding: 50px 0  30px 0px; }

section {
  width: 100%;
  margin: auto; }

.topic {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 100px 0 100px;
  display: flex;
  position: relative;
  margin-bottom: 100px; }

.memberPic {
  width: 180px;
  padding: 20px; }
  .memberPic img {
    border-radius: 50%;
    margin-top: -80px; }

.tripTitle {
  display: inline;
  position: absolute;
  bottom: 20px;
  left: 320px; }
  .tripTitle p {
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 16px; }
  .tripTitle h2 {
    letter-spacing: 3px;
    line-height: 35px; }

.detitle {
  width: 1050px;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 0px 0 0px;
  position: relative;
  border-bottom: 1px solid #6cd5ff; }

.topicIcon {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 100px;
  margin: 20px; }
  .topicIcon div {
    text-align: center;
    display: inline-block;
    padding: 10px 0 0 0; }
  .topicIcon img {
    width: 20px;
    padding-bottom: 5px; }
  .topicIcon p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0px 10px 0px 10px; }

.use {
  position: absolute;
  bottom: 0;
  right: 0px;
  margin-bottom: 20px; }
  .use button {
    width: 100px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    border: 1px solid #6cd5ff;
    background-color: transparent;
    text-align: center;
    cursor: pointer; }
  .use button:hover {
    background-color: #6cd5ff;
    color: #000; }

.wrap {
  width: 1200px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 0 20px; }

.leftWrip {
  width: 65%;
  padding: 0 50px 0 50px;
  box-sizing: border-box; }

.rightWrip {
  width: 30%; }

.tripGroup {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.tripWrip {
  padding: 20px 20px 20px 40px;
  display: flex; }

.leftWrip .tripWrip ~ .tripWrip {
  border-top: 1px solid #6cd5ff;
  border-style: dashed; }

.tripDate {
  width: 120px;
  position: relative; }
  .tripDate p {
    text-align: center;
    font-size: 32px;
    width: 120px;
    line-height: 120px;
    border-radius: 50%; }
  .tripDate img {
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s; }

.tripContent {
  padding: 0 0 0 20px; }
  .tripContent h4 {
    font-size: 25px;
    padding: 10px 0 5px 0;
    letter-spacing: 1px; }
  .tripContent p {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 5px 0;
    display: none; }

.tripWrip:hover .tripContent p {
  display: block;
  transition: 5s; }

.tripWrip:hover .tripDate img:nth-child(1) {
  transform: rotate(-180deg); }

.tripWrip:hover .tripDate img:nth-child(3) {
  transform: rotate(180deg); }

.commentGroup {
  height: 400px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.commentWrip {
  padding: 20px 20px 20px 40px;
  display: flex; }

.commentGroup .commentWrip ~ .commentWrip {
  border-top: 1px solid #6cd5ff; }

.commentPic {
  width: 100px;
  padding: 0 20px 0 0;
  border-right: 1px solid #6cd5ff; }
  .commentPic img {
    text-align: center;
    width: 100px;
    line-height: 100px;
    border-radius: 50%; }

.commentContent {
  padding: 0 0 0 20px; }
  .commentContent p {
    letter-spacing: 1px;
    padding: 0 0 5px 0; }

.memName {
  font-size: 20px;
  line-height: 30px; }

.commentStyle {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px; }

#commentArea {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #6cd5ff;
  padding: 10px;
  color: #fff; }

.comment {
  text-align: center;
  padding: 20px 0 100px 0; }
  .comment input {
    border-style: none;
    width: 100px;
    height: 40px;
    background-color: transparent;
    font-size: 14PX;
    letter-spacing: 2PX;
    border: 1px solid #6cd5ff;
    color: #fff; }
  .comment input:hover {
    background-color: #6cd5ff; }

.export {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; }

.exportPic {
  width: 50%;
  padding: 10px; }
  .exportPic img {
    border-radius: 50%; }

.exportTxt {
  width: 70%;
  text-align: center;
  position: relative;
  padding: 0 5px 0 5px; }
  .exportTxt p {
    font-size: 25px;
    padding: 20px 0 20px 0;
    text-align: left; }
  .exportTxt button {
    border-style: none;
    border: 2px solid #fff;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #6cd5ff;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff; }
  .exportTxt button:hover {
    background-color: #fff;
    color: #6cd5ff; }

.tripBox {
  background-image: url(../img/refer/TES2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 340px;
  height: 240px;
  margin: 30px 5px 30px 5px;
  position: relative; }

.tripBox:hover {
  background-image: url(../img/refer/TES2-1.png); }

.tripTag {
  padding: 20px 15px 20px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0; }

.tripPic {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 6%;
  left: 0;
  right: 0; }

.tripPic img:after {
  content: '';
  display: block;
  width: 100%; }

.tripTxt {
  position: absolute;
  bottom: 0;
  letter-spacing: 1px;
  padding: 10px 0 20px 40px; }
  .tripTxt h4 {
    line-height: 30px; }
  .tripTxt span {
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-right: 2px solid #fff; }

.tripIcon, .grad {
  position: absolute;
  bottom: 0;
  left: 0; }

.tripIcon {
  padding-top: 20px;
  text-align: left;
  z-index: 5; }
  .tripIcon div {
    text-align: center;
    display: inline-block; }
  .tripIcon img {
    width: 15px; }
  .tripIcon p {
    letter-spacing: 1px;
    padding: 5px 10px 10px 10px; }

.grad {
  display: block;
  z-index: 4;
  width: 100%;
  height: 62px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); }

.tripPlanet, .tripKind {
  font-size: 16px;
  vertical-align: middle;
  margin: 0 0 0 5px;
  padding: 5px;
  background-color: #6cd5ff;
  border-radius: 3px; }

.tripPlanet.blue {
  background: #6cd5ff; }

.tripPlanet.orange {
  background: #cfa972; }

.tripPlanet.green {
  background: #80c269; }

.tripKind.adventure {
  background: #ff492b; }

.tripKind.food {
  background: #ffb22b; }

.tripKind.culture {
  background: #00c759; }

.tripKind.nalgene {
  background: #00c6c7; }

.tripKind.technology {
  background: #852bff; }

@media all and (max-width: 767px) {
  h3 {
    font-size: 25px;
    text-align: center; }
  h3:nth-child(1), h3:nth-child(4) {
    padding: 100px 0  30px 0px; }
  .bannerPic {
    margin-top: 60px; }
  .topic {
    width: 100%;
    margin: auto;
    padding: 0 15px 0 15px;
    box-sizing: border-box; }
  .memberPic {
    width: 20%;
    padding: 5% 5% 5% 0%; }
    .memberPic img {
      border-radius: 50%;
      margin-top: -40px; }
  .tripTitle {
    position: static;
    padding-top: 5px; }
    .tripTitle p {
      letter-spacing: 1px;
      line-height: 20px;
      font-size: 14px; }
    .tripTitle h2 {
      font-size: 25px;
      letter-spacing: 3px;
      line-height: 32px;
      margin-bottom: 40px; }
  .detitle {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 60px 0px 0 0px;
    position: relative;
    border-bottom: 1px solid #6cd5ff; }
  .topicIcon {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 110px;
    margin: 20px; }
    .topicIcon div {
      text-align: center;
      display: inline-block;
      padding: 10px 0 0 0; }
    .topicIcon img {
      width: 20px;
      padding-bottom: 5px; }
    .topicIcon p {
      letter-spacing: 1px;
      font-size: 12px;
      padding: 0px 10px 0px 10px; }
  .use {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin-bottom: 15px; }
    .use button {
      width: 100px;
      height: 45px;
      color: #fff;
      font-size: 18px;
      line-height: 34px;
      border: 1px solid #6cd5ff;
      background-color: transparent;
      text-align: center;
      cursor: pointer;
      font-size: 14px; }
    .use button:hover {
      background-color: #6cd5ff;
      color: #000; }
  .wrap {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    padding: 0 20px 0 20px; }
  .shareH3 {
    display: none; }
  .leftWrip, .rightWrip {
    width: 100%;
    padding: 0; }
  .tripBox {
    display: none; }
  .tripWrip {
    padding: 20px 20px 20px 20px;
    display: block; }
  .leftWrip .tripWrip ~ .tripWrip {
    border-top: 1px solid #6cd5ff;
    border-style: dashed; }
  .tripDate {
    width: 80px;
    margin: auto;
    position: relative; }
    .tripDate p {
      text-align: center;
      font-size: 20px;
      width: 80px;
      line-height: 80px;
      border-radius: 50%;
      padding-bottom: 10px; }
    .tripDate img {
      position: absolute;
      top: 0;
      left: 0;
      transition: .8s; }
  .tripContent {
    padding: 10px; }
    .tripContent h4 {
      font-size: 20px;
      padding: 10px 0 5px 0;
      letter-spacing: 1px;
      line-height: 25px; }
    .tripContent p {
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 5px 0;
      display: block; }
  .commentWrip {
    padding: 15px 15px 15px 15px;
    display: flex; }
  .commentGroup .commentWrip ~ .commentWrip {
    border-top: 1px solid #6cd5ff; }
  .commentPic {
    width: 50px;
    padding: 20px 10px 0 0;
    border-right: 1px solid #6cd5ff; }
    .commentPic img {
      width: 50px;
      border-radius: 50%; }
  .commentContent {
    padding: 0 0 0 20px; }
    .commentContent p {
      letter-spacing: 1px;
      padding: 0 0 5px 0;
      line-height: 20px; }
  .memName {
    font-size: 18px;
    line-height: 30px; }
  .comment {
    text-align: center;
    padding: 20px 0 0 0; }
  .export {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 100px; } }

footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 183, 255, 0.3), rgba(0, 255, 255, 0.3) 100%); }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }
