@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 12px;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: #fff; }

h1 {
  font-size: 41px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 12px; }

p {
  font-size: 12px; }

img {
  width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #fff; }

nav {
  width: 100%;
  height: 80px;
  box-sizing: content-box;
  padding: 20px 0 20px 0;
  background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px; }

.navColor {
  background-color: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
  width: 100%;
  height: 120px;
  z-index: 80;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.logo {
  display: inline-block;
  width: 80px; }

.menu {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 50px 0 50px;
  transition: .5s; }

.member {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px; }

.member li {
  display: inline-block;
  vertical-align: middle;
  padding: 50px 0 0 0; }

.memberSign a {
  border-left: 1px solid #fff;
  padding-left: 10px; }

.active {
  color: #6cd5ff; }

.shoppingCar {
  margin-right: 8px; }

.shoppingCar {
  width: 25px; }

.memberSelect {
  width: 200px;
  position: absolute;
  top: 150px;
  right: 10px;
  text-align: left;
  background-color: rgba(0, 255, 255, 0.3);
  display: none; }

.memberSelect li {
  padding: 10px; }

.hambger, .menuMobile {
  display: none; }

.member a:hover, .menu a:hover, .memberSelect a:hover {
  color: #6cd5ff; }

@media all and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    padding: 5px 0 5px 0;
    background-image: linear-gradient(to top, rgba(0, 255, 255, 0.3), rgba(0, 183, 255, 0.3) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    letter-spacing: 2px;
    font-size: 18px; }
  .navColor {
    width: 100%;
    height: 60px;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
  .logo {
    width: 50px; }
  .menu, .member {
    display: none; }
  .hambger {
    width: 22px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    z-index: 110;
    margin: auto; } }

.line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s; }

.line:before, .line:after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s; }

.line:before {
  top: -8px;
  left: 0;
  transform-origin: left; }

.line:after {
  bottom: -8px;
  right: 0;
  transform-origin: right; }

.open {
  transform: translate(-50%, -50%) rotate(135deg); }

.open:before {
  top: 0;
  transform: translateX(100%) rotate(-90deg); }

.open:after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg); }

.menuMobile {
  display: block;
  width: 100%;
  height: 100vh;
  line-height: 40px;
  padding-top: 50px;
  background-color: rgba(0, 255, 255, 0.3);
  position: absolute;
  top: 60px;
  right: -100%;
  transition: .8s; }

.activeM {
  position: absolute;
  top: 60px;
  right: 0; }

.activeB {
  color: #6cd5ff; }

::-webkit-scrollbar {
  width: 15px;
  background: #202164; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #95cce4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f83ad; }

.wrap {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative; }

/* Track */
.track1 {
  width: 120%;
  position: absolute;
  top: -10%;
  left: 0;
  right: -30%;
  z-index: -60;
  margin: auto;
  opacity: .2;
  animation: circleL 30s infinite linear; }

.track2 {
  width: 120%;
  position: absolute;
  top: -10%;
  left: 0;
  right: -30%;
  z-index: -60;
  margin: auto;
  opacity: .3;
  animation: circleR 20s infinite linear; }

@keyframes move {
  0% {
    transform: translate(200%, 0); }
  100% {
    transform: translate(-100%, 0); } }

@keyframes circleL {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes circleR {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

.bannerPic {
  position: relative; }

.banner {
  height: 447.09px; }
  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -50;
    margin: auto; }

#canvas-container {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  z-index: 0; }

#sineCanvas {
  animation: move 25s infinite linear; }

.title {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 60%;
  left: 0;
  margin: auto;
  z-index: 50; }

.content {
  width: 1200px;
  margin: auto;
  display: flex; }

.button-group {
  width: 20%;
  padding: 0 20px 0 0; }

.button.all {
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  transform: skewX(0deg);
  display: inline-block;
  width: 100px;
  height: 40px;
  color: #fff;
  font: 18px/34px 微軟正黑體;
  border: 0px solid #6cd5ff;
  background-color: rgba(71, 138, 245, 0.6);
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  margin: 20px; }
  .button.all span {
    transform: skewX(0deg);
    position: absolute;
    top: 4px;
    left: 25px; }

.button {
  transform: skewX(25deg);
  display: inline-block;
  width: 100px;
  height: 40px;
  color: #fff;
  font: 18px/34px 微軟正黑體;
  border: 0px solid #6cd5ff;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  margin: 20px;
  display: block;
  cursor: pointer; }
  .button span {
    position: absolute;
    transform: skewX(-25deg);
    top: 4px;
    left: 25px; }

.button:hover {
  background-color: #6cd5ff;
  color: #000; }

.button:active,
.button.is-checked {
  background-color: #6cd5ff; }

.button.is-checked {
  color: #000; }

.shareBtn {
  width: 1200px;
  padding-right: 80px;
  margin: auto; }

#tripShare {
  width: 100px;
  height: 45px;
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  border: 1px solid #6cd5ff;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  float: right;
  width: 150px;
  height: 55px; }

#tripShare:hover {
  background-color: #6cd5ff;
  color: #000; }

.shareBtn:after {
  content: '';
  display: block;
  clear: both; }

.shareLightBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 180;
  background-color: rgba(0, 0, 0, 0.2);
  display: none; }

.shareLightBg.show {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 180;
  background-color: rgba(0, 0, 0, 0.2);
  display: block; }

.lightBox {
  width: 1000px;
  height: 700px;
  position: fixed;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url(../img/refer/lightboxbg.png);
  background-repeat: no-repeat;
  background-size: contain; }

.close {
  float: right;
  margin: 20px; }
  .close img {
    width: 20px; }

.close:after {
  content: '';
  display: block;
  clear: both; }

.shareContentBox {
  margin: 50px;
  display: flex;
  flex-wrap: wrap; }

.mytripSocll {
  box-sizing: border-box;
  width: 35%;
  height: 600px;
  margin: auto;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #6cd5ff;
  overflow-x: hidden; }

.mytrip {
  font-size: 25px;
  line-height: 30px;
  margin: auto;
  margin: 0 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #6cd5ff; }

.upload {
  width: 60%;
  height: 600px;
  margin: auto;
  text-align: center; }
  .upload input {
    width: 100%;
    font-size: 25px;
    color: #fff;
    border-style: none;
    border: 1px solid #6cd5ff;
    padding: 5px;
    box-sizing: border-box;
    background: transparent; }
  .upload button {
    width: 200px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    border: 1px solid #6cd5ff;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    margin: 20px 0 0 0; }
  .upload button:hover {
    background-color: #6cd5ff;
    color: #000; }

.uploadPic {
  width: 100%;
  height: 400px;
  border: 1px solid #6cd5ff;
  margin: 40px 0 20px 0; }

.tripWrap {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 15px; }

.tripBox {
  background-image: url(../img/refer/TES2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 280px;
  margin: 30px;
  position: relative; }

.tripTag {
  padding: 20px 15px 20px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0; }

.tripPic {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 6%;
  left: 0;
  right: 0; }

.tripPic img:after {
  content: '';
  display: block;
  width: 100%; }

.tripTxt {
  position: absolute;
  bottom: 0;
  letter-spacing: 1px;
  padding: 10px 0 20px 40px; }
  .tripTxt h4 {
    line-height: 30px; }
  .tripTxt span {
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    border-right: 2px solid #fff; }

.tripIcon, .grad {
  position: absolute;
  bottom: 0;
  left: 0; }

.tripIcon {
  padding-top: 20px;
  text-align: left;
  z-index: 5; }
  .tripIcon div {
    text-align: center;
    display: inline-block; }
  .tripIcon img {
    width: 15px; }
  .tripIcon p {
    letter-spacing: 1px;
    padding: 5px 10px 10px 10px; }

.grad {
  display: block;
  z-index: 4;
  width: 100%;
  height: 62px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); }

.tripPlanet, .tripKind {
  font-size: 16px;
  vertical-align: middle;
  margin: 0 0 0 5px;
  padding: 5px;
  background-color: #6cd5ff;
  border-radius: 3px; }

.tripPlanet.blue {
  background: #6cd5ff; }

.tripPlanet.orange {
  background: #cfa972; }

.tripPlanet.green {
  background: #80c269; }

.tripKind.adventure {
  background: #ff492b; }

.tripKind.food {
  background: #ffb22b; }

.tripKind.culture {
  background: #00c759; }

.tripKind.nalgene {
  background: #00c6c7; }

.tripKind.technology {
  background: #852bff; }

@media all and (max-width: 767px) {
  /* Track */
  .track1 {
    width: 160%;
    position: absolute;
    top: 0;
    left: -30%;
    right: 0;
    z-index: -40;
    margin: auto;
    opacity: .2;
    animation: circleL 30s infinite linear; }
  .track2 {
    width: 160%;
    position: absolute;
    top: 0;
    left: -30%;
    right: 0;
    z-index: -40;
    margin: auto;
    opacity: .3;
    animation: circleR 20s infinite linear; }
  .bannerPic {
    position: relative; }
  .banner {
    height: 500px; }
    .banner img {
      width: 400%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -50;
      margin: auto; }
  #canvas-container {
    display: none; }
  .title {
    text-align: center;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 0;
    margin: auto;
    z-index: 50; }
  .content {
    width: 100%;
    margin: auto;
    display: block; }
  .button-group {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 20px; }
  .button.all {
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
    transform: skewX(0deg);
    display: inline-block;
    width: 62px;
    height: 25px;
    color: #fff;
    font: 18px/34px 微軟正黑體;
    border: 0px solid #6cd5ff;
    background-color: rgba(71, 138, 245, 0.6);
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    font-size: 14px;
    margin: 10px 30px 10px 30px; }
    .button.all span {
      transform: skewX(0deg);
      position: absolute;
      top: -4px;
      left: 10px; }
  .button {
    transform: skewX(25deg);
    display: inline-block;
    width: 62px;
    height: 25px;
    color: #fff;
    font: 18px/34px 微軟正黑體;
    border: 0px solid #6cd5ff;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    transform: skewX(0deg);
    font-size: 14px;
    position: relative;
    margin: 10px 30px 10px 30px;
    display: inline-block;
    cursor: pointer; }
    .button span {
      position: absolute;
      transform: skewX(-25deg);
      top: -4px;
      left: 10px;
      transform: skewX(0deg); }
  .button:active,
  .button.is-checked {
    background-color: #6cd5ff; }
  .button.is-checked {
    color: #000; }
  .shareBtn {
    width: 100%;
    padding-right: 20px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 8%;
    z-index: 55; }
  #tripShare {
    width: 100px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    border: 1px solid #6cd5ff;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    float: none;
    width: 100px;
    height: 40px; }
  #tripShare:hover {
    background-color: #6cd5ff;
    color: #000; }
  .shareLightBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 180;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; }
  .shareLightBg.show {
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 180;
    background-color: rgba(0, 0, 0, 0.2);
    display: block; }
  .lightBox {
    width: 90%;
    position: fixed;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    background-image: url(../img/refer/lightboxbg-m.png);
    background-repeat: no-repeat;
    background-size: contain; }
  .close {
    float: right;
    margin: 15px; }
    .close img {
      width: 15px; }
  .close:after {
    content: '';
    display: block;
    clear: both; }
  .shareContentBox {
    height: 272.5px;
    height: 420px;
    margin: 30px 20px 30px 20px;
    display: flex;
    flex-wrap: wrap; }
  .mytripSocll {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: auto;
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid #6cd5ff;
    overflow-x: hidden;
    order: 1; }
  .mytrip {
    font-size: 16px;
    line-height: 18px;
    margin: auto;
    margin: 0 0 5px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #6cd5ff; }
  .upload {
    width: 100%;
    margin: auto;
    text-align: center;
    order: 2; }
    .upload input {
      width: 100%;
      font-size: 16px;
      color: #fff;
      border-style: none;
      border: 1px solid #6cd5ff;
      padding: 5px;
      margin: 10px 0 0 0;
      box-sizing: border-box;
      background: transparent; }
    .upload button {
      width: 100px;
      height: 40px;
      color: #fff;
      font-size: 18px;
      line-height: 34px;
      border: 1px solid #6cd5ff;
      background-color: transparent;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      margin: 5px 0 0 0; }
    .upload button:hover {
      background-color: #6cd5ff;
      color: #000; }
  .uploadPic {
    width: 100%;
    height: 200px;
    border: 1px solid #6cd5ff;
    margin: 10px 0 5px 0; }
  .tripWrap {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 20px 5% 5px 5%; }
  .tripBox {
    background-image: url(../img/refer/TES2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 85%;
    height: 243px;
    margin: auto;
    margin: 20px 2% 10px 2%;
    position: relative; }
  .tripTag {
    padding: 20px 15px 20px 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0; }
  .tripPic {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 6%;
    left: 0;
    right: 0; }
  .tripPic img:after {
    content: '';
    display: block;
    width: 100%; }
  .tripTxt {
    position: absolute;
    bottom: 5%;
    letter-spacing: 1px;
    padding: 10px 10px 0px 40px; }
    .tripTxt h4 {
      line-height: 25px;
      font-size: 18px; }
    .tripTxt span {
      padding: 0 10px 0 0;
      margin: 0 10px 0 0;
      border-right: 2px solid #fff; }
  .tripIcon, .grad {
    position: absolute;
    bottom: 0;
    left: 0; }
  .tripIcon {
    padding-top: 20px;
    text-align: left;
    z-index: 5; }
    .tripIcon div {
      text-align: center;
      display: inline-block; }
    .tripIcon img {
      width: 15px; }
    .tripIcon p {
      letter-spacing: 1px;
      padding: 5px 10px 10px 10px; }
  .grad {
    display: block;
    z-index: 4;
    width: 100%;
    height: 62px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); }
  .tripPlanet, .tripKind {
    font-size: 14px;
    vertical-align: middle;
    margin: 0 0 0 3px;
    padding: 2px;
    background-color: #6cd5ff;
    border-radius: 3px; } }

@media (max-width: 375px) {
  .button-group {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 10px; }
  .button, .button.all {
    margin: 10px 26px 10px 26px; }
  .tripBox {
    height: 220px; } }

footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 183, 255, 0.3), rgba(0, 255, 255, 0.3) 100%); }

.copyright {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; }
