@import "base/var";
@import "base/reset";
@import "mixin/mixin";


*{
	// outline: 1px solid #f00;
}

@include body(16px);

.title{
	position: relative;
	margin: auto;
	h1{
		position: absolute;
		text-align: center;
		margin: auto;
		top: 90px; bottom: 0;
		right: 0;left: 0;
	}
	#can{
		top: 0;bottom: 0;
		left: 0; right: 0;
		margin: auto;
		text-align: center;
	}
	#canvas1{
		position: absolute;
		animation: aa 30s 0s infinite ;
	}
	#canvas2{
		// position: absolute;
		animation: bb 30s 0s infinite ;
	}
}
@keyframes aa{
	0%		{transform: rotate(0deg);}

	8.3333% {transform: rotate(30deg);}

	16.6667%{transform: rotate(60deg);}

	25%		{transform: rotate(90deg);}

	33.3333%{transform: rotate(120deg);}

	41.6667%{transform: rotate(150deg);}

	50%		{transform: rotate(180deg);}

	58.3333%{transform: rotate(210deg);}

	66.6667%{transform: rotate(240deg);}

	75%		{transform: rotate(270deg);}

	83.3333%{transform: rotate(300deg);}

	91.6667%{transform: rotate(330deg);}

	100%	{transform: rotate(360deg);}
}
@keyframes bb{
	0%		{transform: rotate(0deg);}

	8.3333% {transform: rotate(-30deg);}

	16.6667%{transform: rotate(-60deg);}

	25%		{transform: rotate(-90deg);}

	33.3333%{transform: rotate(-120deg);}

	41.6667%{transform: rotate(-150deg);}

	50%		{transform: rotate(-180deg);}

	58.3333%{transform: rotate(-210deg);}

	66.6667%{transform: rotate(-240deg);}

	75%		{transform: rotate(-270deg);}

	83.3333%{transform: rotate(-300deg);}

	91.6667%{transform: rotate(-330deg);}

	100%	{transform: rotate(-360deg);}
}