@import 'base/var';
@import 'base/reset';

@import 'mixin/mixin';

$fontWhiteTitle:rgba(255,255,255,.8);
$fontWhiteContent:rgba(255,255,255,.7);
*{
    // outline: 1px solid #F00;
}
.clearfix{
    clear:both;
}

.userFull{
    background-image: url('../img/poa/backend-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    overflow: auto;
    img{
        vertical-align: middle;
    }
}
nav{
    width:15%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top:0;
    left:0;
    height:100%;
    box-sizing: border-box;
    .navUser{
        width:100%;
        height:200px;
        .logo{
            width:50%;
            float: left;
            box-sizing: border-box;
            padding:10px;
            img{
                width:100%;
            }
        }
        .userName{
            width:50%;
            float: left;
            color:#FFF;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            h3{
                padding:20% 0;
            }
            .loginOut{
                padding-top: 10%;
                text-align: right;
                a{
                    text-decoration: none;
                    color:#FFF;
                    &:hover{
                        color:$bottomColor;
                    }
                }
            }
            img{
                width:20px;
                
            }
        }
    }
    .navBarContent{
        width:100%;
        box-sizing: border-box;
        
        a{
            font:18px $fontfamily;
            // width:100%;
            padding:30px;
            // background-color: aquamarine;
            display:block;
            text-decoration: none;
            color:#FFF;
            &:hover{
                background-color: rgba(0,255,255,.3);
            }
        }
    }

}
.wrapContent{
    box-sizing: border-box;
    width:85%; 
    // background-color: #AAF;
    float:right;
    padding:10px;
    color:$fontWhiteTitle;
    
    .content{
        width:95%;
        margin: auto;
        text-align: left;
        border:1px solid #CCC;
        background-color:rgba(0,0,0,.7);
        border:2px solid $bottomColor;
        h1{
            font:36px $fontfamily;
            padding: 50px;
            text-align: center;
        }
        .addUser{
            margin-left: 60px;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0,4); 
            border: 1px solid rgba(0,255,255,1);
            border-radius: 3px;
            color: $fontWhiteTitle;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            outline: none;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,255,255,.8); 
                color:#000;
            }
        }
        .lightBox{
            display:none;
            background-color: #000;
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            margin: auto;
            width:500px;
            height:650px;
            overflow: auto;
            border: 1px solid $bottomColor;
            h2{
                font-size:24px;
                font-family: '微軟正黑體';
                text-align: center;
                padding: 10px;
            }
            table{
                margin: auto;
                text-align: left;
                tr,td{
                    padding:10px 20px;
                    vertical-align: middle;
                }
                tr:last-child {
                    text-align: center;
                    td{
                        padding-top: 50px;
                    }
                    
                    
                }
                
            }
        }
    }
        .lightBoxManagement{
            display:none;
            background-color: #000;
            position: absolute;
            left:0;
            top:0;
            right:0;
            bottom:0;
            margin: auto;
            width:700px;
            height:550px;
            overflow: auto;
            border: 1px solid $bottomColor;
            h2{
                text-align: center;
                padding:20px;
                font-size:24px;
                font-family: '微軟正黑體';
            }
            .expertInfo{
                padding-bottom: 50px;
                &:before{
                    content: '';
                    display:block;
                    position: absolute;
                    top:180px;
                    left: 25px;
                    width:650px;
                    height:1px;
                    background-color: rgba(147,147,147,.5);
                }
                .expertName{
                    vertical-align: bottom;
                    padding-right: 20px;
                }
                .expertMonth{
                    padding:0px 180px 0px 150px;
                    vertical-align: bottom;
                }
                div{
                    position: relative;
                    // left:100px;
                    width:150px;
                    display: inline-block;
                    img{
                        width:100%;
                    }
                }
            }
            .expertDated{
                width:650px;
                margin-left: 30px;
                margin-bottom: 50px;
                tr,td{
                    padding:10px 0px;
                }
            }
            .expertDatedEmpty{
                width:340px;
                margin-left: 30px;
                margin-bottom: 30px;
                tr,td{
                    padding:10px 0px;
                }
            }
            .cancelBtnGroup{
                text-align: center;
            }
            // .expertDated{
            //     font-size:0px;
            //     .expertDatedL,
            //     .expertDatedR{
            //         float: left;
            //         width:50%;
            //         font-size:16px;
            //     }
            // }
        }
}
.userTable{
    text-align: center;
    width:100%;
    tr,td{
        padding:10px;
    }
    .tableTitle{
        background-color: rgb(194, 162, 94);
        color:#000;
        // font-weight: bold;
    }
}