@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@include body(10px);
* {
    // outline: 1px solid #f00;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $fontColorWhite;
}

@import "layout/nav";
@include respond(small) {}

@include respond(medium) {}

@include respond(desktop) {}

.title {
    top: 200px;
    position: relative;
    margin: auto;
    width: 100%;
    h1 {
        position: absolute;
        text-align: center;
        margin: auto;
        top: 90px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    #can {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #canvas1 {
        position: absolute;
        animation: aa 30s 0s infinite;
    }
    #canvas2 {
        // position: absolute;
        animation: bb 30s 0s infinite;
    }
}

@keyframes aa {
    0% {
        transform: rotate(0deg);
    }
    8.3333% {
        transform: rotate(30deg);
    }
    16.6667% {
        transform: rotate(60deg);
    }
    25% {
        transform: rotate(90deg);
    }
    33.3333% {
        transform: rotate(120deg);
    }
    41.6667% {
        transform: rotate(150deg);
    }
    50% {
        transform: rotate(180deg);
    }
    58.3333% {
        transform: rotate(210deg);
    }
    66.6667% {
        transform: rotate(240deg);
    }
    75% {
        transform: rotate(270deg);
    }
    83.3333% {
        transform: rotate(300deg);
    }
    91.6667% {
        transform: rotate(330deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bb {
    0% {
        transform: rotate(0deg);
    }
    8.3333% {
        transform: rotate(-30deg);
    }
    16.6667% {
        transform: rotate(-60deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    33.3333% {
        transform: rotate(-120deg);
    }
    41.6667% {
        transform: rotate(-150deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    58.3333% {
        transform: rotate(-210deg);
    }
    66.6667% {
        transform: rotate(-240deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    83.3333% {
        transform: rotate(-300deg);
    }
    91.6667% {
        transform: rotate(-330deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.cloud_group {
    // outline: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .cloud1 {
        width: 700px;
    }
    .cloud2 {
        width: 500px;
    }
}

.panel {
    // outline: 1px solid #fff;
    width: 1200px;
    margin: auto;
    margin-top: 100px;
}

/* ---- button ---- */

.button-group {
    text-align: center;
    margin-bottom: 20px;
    .button {
        display: inline-block;
        padding: 8px 30px;
        margin: 10px 20px;
        background: transparent;
        border: 1px solid $fontColorBlue;
        color: $fontColorBlue;
        font-family: $fontfamily;
        font-size: 18px;
        cursor: pointer;
        position: relative;
    }
    .button:hover {
        background-color: #B5E9F9;
        color: #222;
    }
    .button:active,
    .button.is-checked {
        background-color: #B5E9F9;
    }
    .button.is-checked {
        color: #000;
    }
}

/* ---- .element-item ---- */

.grid {
    border-top: 2px solid $fontColorBlue;
    .element-item {
        margin: 50px;
        width: 250px;
        height: 350px;
        margin: 25px;
        border: 3px solid rgba(108, 213, 255, 0.5);
        box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        h2 {
            font-size: 22px;
            margin: 15px;
        }
        img {
            width: 160px;
        }
        h3 {
            color: #ffffff;
            font-size: 20px;
            margin-top: 10px;
        }
        .score {
            margin-top: 10px;
            span {
                color: #ffffff;
                font-size: 16px;
                padding-right: 5px;
            }
            img {
                width: 20px;
            }
        }
        .mark {
            font-size: 16px;
            color: #ffffff;
            img {
                width: 25px;
                margin: 10px;
            }
        }
    }
    .element-item.blue {
        border: 3px solid rgba(108, 213, 255, 0.5);
        h2 {
            color: $fontColorBlue;
        }
    }
    .element-item.orange {
        border: 3px solid rgba(207, 169, 114, 0.5);
        h2 {
            color: rgb(207, 169, 114);
        }
    }
    .element-item.green {
        border: 3px solid rgba(128, 194, 105, 0.5);
        h2 {
            color: rgb(128, 194, 105);
        }
    }
}

@import "layout/footer";
@import "layout/nav-small";
@import "layout/medium";
@import "layout/desktop";