@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@import "components/buttons";
@include body(10px);
* {
    box-sizing: border-box;
}

// ========scrollBar change=========
/* width */

::-webkit-scrollbar {
    width: 15px;
    background: #202164;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #95cce4;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #2f83ad;
}

// ========scrollBar change=========
img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $fontColorWhite;
}

@import "layout/nav";
@import "layout/nav-small";
.title {
    top: 200px;
    position: relative;
    margin: auto;
    width: 100%;
    h1 {
        position: absolute;
        text-align: center;
        margin: auto;
        top: 90px;
        bottom: 0;
        right: 0;
        left: 0;
    }
    #can {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    #canvas1 {
        position: absolute;
        animation: aa 30s 0s infinite;
    }
    #canvas2 {
        // position: absolute;
        animation: bb 30s 0s infinite;
    }
}

@media screen and (max-width: 767px) {
    .title {
        top: 100px;
    }
}

@keyframes aa {
    0% {
        transform: rotate(0deg);
    }
    8.3333% {
        transform: rotate(30deg);
    }
    16.6667% {
        transform: rotate(60deg);
    }
    25% {
        transform: rotate(90deg);
    }
    33.3333% {
        transform: rotate(120deg);
    }
    41.6667% {
        transform: rotate(150deg);
    }
    50% {
        transform: rotate(180deg);
    }
    58.3333% {
        transform: rotate(210deg);
    }
    66.6667% {
        transform: rotate(240deg);
    }
    75% {
        transform: rotate(270deg);
    }
    83.3333% {
        transform: rotate(300deg);
    }
    91.6667% {
        transform: rotate(330deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bb {
    0% {
        transform: rotate(0deg);
    }
    8.3333% {
        transform: rotate(-30deg);
    }
    16.6667% {
        transform: rotate(-60deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    33.3333% {
        transform: rotate(-120deg);
    }
    41.6667% {
        transform: rotate(-150deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    58.3333% {
        transform: rotate(-210deg);
    }
    66.6667% {
        transform: rotate(-240deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    83.3333% {
        transform: rotate(-300deg);
    }
    91.6667% {
        transform: rotate(-330deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.cloud_group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    .cloud1 {
        width: 50%;
        min-width: 300px;
    }
    .cloud2 {
        width: 35%;
        min-width: 200px;
    }
}

.panel {
    // outline: 1px solid #fff;
    width: 1200px;
    margin: 100px auto;
}

@media screen and (max-width: 1200px) {
    .panel {
        width: 90%;
        margin: 80px auto;
    }
}

/* ---- button ---- */

.button-group {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid $fontColorBlue;
    .button-top,
    .button-down {
        display: inline-block;
    }
    .button.all {
        // display: inline-block;
        // padding: 8px 30px;
        // margin: 10px 20px;
        // background: transparent;
        // border: 1px solid $fontColorBlue;
        // color: $fontColorBlue;
        // font-family: $fontfamily;
        // font-size: 18px;
        // cursor: pointer;
        // position: relative;
        @include skewBtnAll(100px, 35px);
    }
    .button:hover {
        background-color: #B5E9F9;
        color: #222;
    }
    .button:active,
    .button.is-checked {
        background-color: #B5E9F9;
    }
    .button.is-checked {
        color: #000;
    }
}

@media screen and (max-width: 900px) {
    .button-group {
        .button {
            padding: 4px 20px;
            margin: 5px 10px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 650px) {
    .button-group {
        .button-top,
        .button-down {
            display: block;
        }
    }
}

/* ---- .expertBox ---- */

.grid {
    .expertBox {
        width: 250px;
        margin: 25px;
        height: 337px;
        text-align: center;
        h2 {
            font-size: 22px;
            margin-top: 10px;
        }
        h3 {
            font-size: 20px;
            margin: 10px;
        }
        .pic {
            // outline: 1px solid #f00;
            width: 160px;
            margin: auto;
            position: relative;
            cursor: pointer;
            .attr {
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                line-height: 50px;
                font-size: 16px;
                left: -20px;
                top: -10px;
            }
            img {
                width: 100%;
            }
        }
        .score {
            margin-top: 10px;
            span {
                color: #ffffff;
                font-size: 16px;
                padding-right: 5px;
            }
            img {
                vertical-align: text-bottom;
                width: 20px;
            }
        }
        .mark {
            // outline: 1px solid #f00;
            font-size: 16px;
            color: #ffffff;
            img {
                width: 25px;
                margin: 10px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        .expertBox {
            width: 200px;
            margin: 15px;
            height: 283px;
            h2 {
                font-size: 20px;
            }
            .pic {
                width: 130px;
                .attr {
                    font-size: 15px;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                }
            }
            h3 {
                font-size: 16px;
            }
            .score {
                margin-top: 10px;
                span {
                    font-size: 14px;
                    padding-right: 2px;
                }
                img {
                    width: 15px;
                }
            }
            .mark {
                font-size: 14px;
                img {
                    width: 20px;
                    margin: 5px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    @media screen and (min-width:650px) {
        .expertBox {
            box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
            background-color: rgba(0, 0, 0, 0.8);
        }
        .expertBox.blue {
            border: 3px solid $borderColorBlue;
        }
        .expertBox.orange {
            border: 3px solid $borderColorOrange;
        }
        .expertBox.green {
            border: 3px solid $borderColorGreen;
        }
        .expertBox .aside h3 {
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        .expertBox.blue {
            border-bottom: 2px dashed $borderColorBlue;
        }
        .expertBox.orange {
            border-bottom: 2px dashed $borderColorOrange;
        }
        .expertBox.green {
            border-bottom: 2px dashed $borderColorGreen;
        }
        .expertBox {
            width: 90%;
            padding-bottom: 15px;
            margin: 15px 15px 5px;
            height: 162px;
            h2 {
                font-size: 18px;
                margin: 0 auto 10px;
            }
            h3 {
                font-size: 16px;
                display: none;
            }
            .main {
                float: left;
                width: 50%;
                display: inline-block;
                .pic {
                    width: 100px;
                }
            }
            .aside {
                float: right;
                width: 50%;
                display: inline-block;
                text-align: left;
                margin-top: 10px;
                h3 {
                    display: block;
                    padding-left: 20px;
                    font-size: 18px;
                }
                .score,
                .mark {
                    margin-top: 5px;
                }
            }
        }
        .expertBox:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .expertBox.blue {
        h2 {
            color: $fontColorBlue;
        }
        .pic {
            .attr {
                background-color: $attrBlue;
            }
        }
    }
    .expertBox.orange {
        h2 {
            color: $fontColorOrange;
        }
        .pic {
            .attr {
                background-color: $attrOrange;
            }
        }
    }
    .expertBox.green {
        h2 {
            color: $fontColorGreen;
        }
        .pic {
            .attr {
                background-color: $attrGreen;
            }
        }
    }
}

#lightBox1 {
    // position: fixed; 
    // top: 0px;
    // left: 0;
    // right: 0;
    // z-index: 900;
    margin: auto;
    width: 960px;
    height: 600px;
    overflow: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border: 3px solid rgba(108, 213, 255, 0.5); // #closeBtn {
    //     width: 50px;
    //     float: right;
    //     cursor: pointer; 
    //     position: absolute;
    //     top: 0;right: 0;
    // }
}

#lightBox:after {
    content: "";
    display: block;
    clear: both;
}

// lightBox的上方內容
.content {
    // outline: 1px solid #fff;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .conLeft {
        width: 40%;
        img {
            width: 50px;
        }
        .expPic {
            margin: auto;
            width: 60%;
            position: relative;
            .attr {
                position: absolute;
                background-color: $attrBlue;
                font-size: 20px;
                padding: 5px 10px;
                right: 10px;
                top: 10px;
            }
            img {
                width: 100%;
                min-width: 100px;
            }
        }
    }
    .conRight {
        // outline: 1px solid #f00;
        margin-top: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
        h1 {
            color: $fontColorBlue;
            text-align: justify;
        }
        h2 {
            margin-top: 20px;
            text-align: justify;
        }
        .data {
            text-align: justify;
            .score {
                margin-top: 30px;
                h3 {
                    display: inline;
                    font-size: 20px;
                    padding-right: 10px;
                }
                span {
                    font-size: 16px;
                    padding-right: 5px;
                }
                img {
                    vertical-align: text-bottom;
                    width: 20px;
                }
            }
            .chart {
                // align-self: center;
                margin: 30px 0 20px;
                text-align: justify;
                h3 {
                    // text-align: center;
                    font-size: 22px;
                    margin-left: 35px;
                    margin-bottom: 10px;
                }
                span {
                    font-size: 18px;
                    margin-right: 10px;
                    line-height: 1.8;
                }
                .value {
                    width: 0px;
                    height: 15px;
                    background-color: #aaa;
                    display: inline-block;
                }
                .value.focus {
                    background-color: $fontColorBlue;
                }
                .value:nth-of-type(1) {
                    animation: value1 1.5s 0.5s 1 forwards;
                }
                .value:nth-of-type(2) {
                    animation: value2 1.5s 0.5s 1 forwards;
                }
                .value:nth-of-type(3) {
                    animation: value3 1.5s 0.5s 1 forwards;
                }
                .value:nth-of-type(4) {
                    animation: value4 1.5s 0.5s 1 forwards;
                }
                .value:nth-of-type(5) {
                    animation: value5 1.5s 0.5s 1 forwards;
                }
                .value:nth-of-type(6) {
                    animation: value6 1.5s 0.5s 1 forwards;
                }
            }
        }
        @keyframes value1 {
            0% {
                width: 0;
            }
            100% {
                width: 100px;
            }
        }
        @keyframes value2 {
            0% {
                width: 0;
            }
            100% {
                width: 80px;
            }
        }
        @keyframes value3 {
            0% {
                width: 0;
            }
            100% {
                width: 50px;
            }
        }
        @keyframes value4 {
            0% {
                width: 0;
            }
            100% {
                width: 20px;
            }
        }
        @keyframes value5 {
            0% {
                width: 0;
            }
            100% {
                width: 80px;
            }
        }
        @keyframes value6 {
            0% {
                width: 0;
            }
            100% {
                width: 40px;
            }
        }
        .record {
            align-self: flex-end;
            .collect {
                display: inline-block;
            }
            .writeComment {
                display: inline-block;
            }
            .collect,
            .writeComment {
                margin: 10px;
                #heart,
                #write {
                    width: 28px;
                    height: 26px;
                    cursor: pointer;
                }
                .txt {
                    font-size: 16px;
                    line-height: 2.5;
                }
                #Cnum,
                #Wnum {
                    font-size: 14px;
                    color: #aaaaaa;
                }
            }
        }
    }
}

// lightBox的評論
.comment {
    width: 60%;
    margin: 60px auto 80px;
    h2 {
        // text-align: justify;
    }
    .message {
        border-bottom: 1px dashed $borderColorBlue;
        margin: 20px auto 0;
        padding-bottom: 20px;
        width: 100%;
        .user {
            width: 100%;
            height: 80px;
            position: relative;
            .name {
                position: absolute;
                left: 60px;
                top: 10px; // padding: 10px 25px;
                width: 86px; // height: 36px;
                line-height: 36px;
                -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                background-color: $attrBlue;
                font-size: 16px;
                letter-spacing: 2px;
            }
            img {
                position: absolute;
                left: 0;
                width: 80px;
                border-radius: 50%;
            }
        }
        p {
            margin-top: -10px;
            margin-left: 90px;
            font-size: 16px;
            text-align: left;
            line-height: 1.4;
        }
    }
}

@media screen and (max-width: 1000px) {
    #lightBox1 {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    #lightBox1 {
        h1 {
            margin-top: 30px;
            font-size: 24px;
        }
        h2 {
            margin-top: 20px;
            font-size: 22px;
        }
        .content {
            .expPic {
                margin: 10px;
                width: 150px;
                .attr {
                    width: 50px;
                    height: 50px;
                    font-size: 16px;
                    line-height: 50px;
                }
            }
            .data {
                margin: 10px;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .chart {
                    margin: auto;
                    span {
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
            }
            .record {
                margin: 10px auto 0;
                display: block;
                .collect,
                .writeComment {
                    float: none;
                    display: inline-block;
                }
            }
        }
        .comment {
            .score {
                p {
                    font-size: 16px;
                    padding-right: 5px;
                }
                span {
                    font-size: 15px;
                    padding-right: 2px;
                }
                img {
                    width: 18px;
                }
            }
            .message {
                .user {
                    .name {
                        left: 45px; // padding: 6px 25px;
                        width: 76px;
                        height: 28px;
                        line-height: 28px;
                        -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                    }
                    img {
                        width: 60px;
                    }
                }
                p {
                    margin-top: 10px;
                    margin-left: 20px;
                }
            }
        }
    }
}

// @include respond(small) {
//     .title {}
// }
// @include respond(medium) {
//     .title {}
// }
// @include respond(desktop) {
//     .title {}
// }
@import "layout/footer";
footer {
    img {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.5;
        z-index: -1;
    }
    background-image: none;
}

@import "layout/medium";
@import "layout/desktop";