@import 'base/var';
@import 'base/reset';

@import 'mixin/mixin';

$fontWhiteTitle:rgba(255,255,255,.8);
$fontWhiteContent:rgba(255,255,255,.7);

.clearfix{
    clear:both;
}

.userFull{
    background-image: url('../img/poa/backend-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    overflow: auto;
    img{
        vertical-align: middle;
    }
}
nav{
    width:15%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top:0;
    left:0;
    height:100%;
    box-sizing: border-box;
    .navUser{
        width:100%;
        height:200px;
        .logo{
            width:50%;
            float: left;
            box-sizing: border-box;
            padding:10px;
            img{
                width:100%;
            }
        }
        .userName{
            width:50%;
            float: left;
            color:#FFF;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            h3{
                padding:20% 0;
            }
            .loginOut{
                padding-top: 10%;
                text-align: right;
                a{
                    text-decoration: none;
                    color:#FFF;
                    &:hover{
                        color:$bottomColor;
                    }
                }
            }
            img{
                width:20px;
                
            }
        }
    }
    .navBarContent{
        width:100%;
        box-sizing: border-box;
        
        a{
            font:18px $fontfamily;
            // width:100%;
            padding:30px;
            // background-color: aquamarine;
            display:block;
            text-decoration: none;
            color:#FFF;
            &:hover{
                background-color: rgba(0,255,255,.3);
            }
        }
    }

}
.wrapContent{
    box-sizing: border-box;
    width:85%; 
    // background-color: #AAF;
    float:right;
    padding:10px;
    color:$fontWhiteTitle;
    
    
    .content{
        width:95%;
        margin:auto;
        border:1px solid #CCC;
        background-color:rgba(0,0,0,.7);
        border:2px solid $bottomColor;
        h1{
            font:36px $fontfamily;
            padding: 50px;
        }
        .lightBox{
            display:none;
            background-color: #aff;
            height:100px;
            position: fixed;
            left:0;
            top:0;
            right:0;
            bottom:0;
            margin: auto;
            width:500px;
            height:700px;
            overflow: auto;
            border: 1px solid $bottomColor;
            h2{
                font-size: 24px;
                padding:20px;
                font-family: '微軟正黑體';
            }
            table{
                margin: auto;
                text-align: left;
                tr,td{
                    padding:10px 20px;
                    vertical-align: middle;
                }
                
                tr:last-child {
                    text-align: center;
                    td{
                        padding-top: 50px;
                    }
                    
                    
                }
                
            }
        }
        .userTable{
            width:100%;
            tr,td{
                
                padding:10px;
                img{
                    width:200px;
                }
            }
            .tableTitle{
                background-color: rgb(194, 162, 94);
                color:#000;
                // font-weight: bold;
            }
        }
    }
    
}
