@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@import "components/buttons";
@import "components/lightBox";
@include body(12px);
// *{
//     outline: 1px solid #fff;
// }
body {
    background-image: url(../img/memComment/bg3.png);
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $fontColorWhite;
}

// ========scrollBar change=========
/* width */

::-webkit-scrollbar {
    width: 15px;
    background: #202164;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #95cce4;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #2f83ad;
}

// ========scrollBar change=========
@import "layout/nav";
.comContent {
    max-width: 960px;
    min-height: 500px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9); // top: 200px;
    // left: 500px;
    // z-index: 4;
    // box-sizing: border-size;
    // border: 1px solid black;
    // padding: 1%;
    // background-size: cover;
    .comment_mg_box {
        h2 {
            font-size: 30px;
            padding: 50px 2% 2% 2%;
        }
        h3 {
            font-size: 22px;
            text-align: justify;
            margin-top: -10px;
            margin-left: 30px;
            padding: 0;
        }
    }
}

// ========列表開始=========
#itemContent_no,
#itemContent_al {
    display: flex;
    flex-wrap: wrap; // .comItem_al{height: 300px;}
    .comItem_no,
    .comItem_al {
        position: relative;
        width: 44%;
        border: 2px solid $borderColorBlue;
        padding: 10px;
        margin: 20px 0px 0 21px;
        .expImg {
            display: inline-block;
            width: 40%; 
            height: 150px;
            overflow: hidden;
            vertical-align: top;
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            .expName {
                position: absolute;
                top: 0;
                left: 0;
                margin: auto;
                color: #ffffff;
                font-size: 24px;
                background-color: $attrBlue;
                padding: 5px;
            }
            img {
                width: 100%;
                margin-top: -10px;
            }
        }
        .commentBtn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            @include btn(60px, 35px, 18px, 35px);
        }
        @media screen and (min-width: 768px) {
            .commentBtn:hover{
                @include btnHover;
            }
        }
        
        .itemTxt {
            display: inline-block;
            width: 55%; 
            text-align: left; 
            h4 {
                font-size: 18px;
                color: $fontColorBlue;
                margin-bottom: 15px;
            }
            h5 {
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 1.3;
                color: #ffffff;
                white-space: wrap;
            }
            .score {
                position: absolute;
                bottom: 10px;
                span {
                    color: #ffffff;
                    font-size: 16px;
                    padding-right: 5px;
                }
                img {
                    vertical-align: text-bottom;
                    width: 20px;
                }
            }
        }
        .message {
            width: 90%;
            margin: 20px auto 0;
            border-top: 1px dashed $borderColorBlue;
            padding: 15px 0 10px;
            .user {
                width: 100%;
                height: 80px;
                position: relative;
                .name {
                    position: absolute;
                    left: 60px;
                    top: 10px;
                    padding: 10px 25px;
                    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                    background-color: $attrBlue;
                    font-size: 16px;
                    letter-spacing: 2px;
                    color: #ffffff;
                }
                img {
                    position: absolute;
                    left: 0;
                    width: 80px;
                    border-radius: 50%;
                }
            }
            .score {
                margin: -20px 0 20px 100px;
                span {
                    font-size: 16px;
                    padding-right: 2px;
                    color: #ffffff;
                }
                img {
                    width: 18px;
                    vertical-align: text-bottom;
                }
            }
            p {
                margin-left: 10px;
                font-size: 16px;
                text-align: left;
                line-height: 1.4;
                color: #ffffff;
            }
        }
    }
}


@media screen and (max-width: 960px){
   .comContent{width: 90%;}
   #itemContent_no .comItem_no, #itemContent_al .comItem_al{
        width: 80%;
        margin: 10px auto;
   }
}

@media screen and (max-width: 550px){
    .comment_mg_box{padding: 0 5% 3% 5%;}
    #itemContent_no .comItem_no, #itemContent_al .comItem_al{
        width: 100%;
        // margin: 10px auto;
        .expImg .expName{
            font-size: 20px;
        }
        .itemTxt h5{
            font-size: 16px;
        }
   }
}
@media screen and (max-width: 370px){
    #itemContent_no .comItem_no, #itemContent_al .comItem_al {
        .expImg{
           width: 50%; 
        }
        .itemTxt{
            width: 70%;
            margin-right: 60px;
            h4{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }
}

#lightBox_com_father {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    background-color: rgba(66, 66, 66, 0.6);
}

#lightBox_com {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    width: 800px;
    height: 400px;
    border: 2px solid #6cd5ff;
    background-color: rgba(20, 20, 20, 0.95);
    .fas {
        font-size: 30px;
        float: right;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    h1 {
        font-size: 26px;
        text-align: center;
        margin-top: 40px;
    }
    .message {
        // outline: 1px solid #f00;
        width: 90%;
        margin: 20px auto;
        .user {
            width: 90%;
            margin: auto;
            height: 80px;
            position: relative;
            .name {
                position: absolute;
                left: 60px;
                top: 10px;
                padding: 10px 25px;
                -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
                background-color: $attrBlue;
                font-size: 16px;
                letter-spacing: 2px;
            }
            img {
                position: absolute;
                left: 0;
                width: 80px;
                border-radius: 50%;
            }
        }
        .score {
            margin-left: 130px;
            margin-top: -10px;
            span {
                color: #ffffff;
                font-size: 18px;
                padding-right: 5px;
            }
            img {
                vertical-align: text-bottom;
                width: 30px;
            }
        }
        form {
            position: relative;
            textarea {
                width: 80%;
                margin: 30px 0 50px 60px;
                border: 2px solid $borderColorBlue;
                background-color: transparent;
                font-size: 16px;
                color: #ffffff;
            }
            .submit {
                position: absolute;
                right: 20px;
                bottom: 0;
                input {
                    margin: 5px;
                    font-size: 16px;
                    padding: 5px 10px;
                    background-color: transparent; // border: 0;
                    border: 1px solid #6cd5ff78;
                    color: #ffffff;
                    cursor: pointer; // @include btn(60px,35px,18px,35px);
                }
                @media screen and (min-width: 768px){
                    input:hover {
                        @include btnHover;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 830px) {
   #lightBox_com {
        width: 100%;
        height: 80%;
   }
}
@media screen and (max-width: 430px) {
    #lightBox_com .message {
        .user{
            img{width: 70px;}
            .name{left: 53px;}
        } 
        form textarea{
            width: 85%;
            margin: 22px 0 50px 28px;
        }
        .score{
            margin-left: 100px;
            img{
                width: 26px;
            }
        }
    }
}


@import "layout/footer";
footer {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .5) 100%); 
}

@import "layout/nav-small";
@import "layout/medium";
@import "layout/desktop";