@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@import "components/buttons";
@include body(12px);
// *{
//      outline: 1px solid #fff;
//  }
img{
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: $fontColorWhite;
}
@import "layout/nav";
@import "layout/nav-small";
// content
.wrap {
    width: 100%;
    margin: auto;
    position: relative;
}
    // button{
    //    border-style:none;
    //    border: 2px solid $fontColorWhite;
    //    border-radius:3px;  
    //    width: 40px;
    //    height: 41px;
    //    background-color:transparent;
    //    display: inline-block;
    //    vertical-align:top;
    // }
    // button:hover{
    //     background-color:$fontColorBlue;
    //     border: 2px solid $fontColorBlue;
    // }
// }
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#anime{
    width: 30%;
    position: absolute;
    right: 0;
    top:0;
    margin: auto;
    z-index: 10;
    animation: circle 10s infinite linear;
}
.bannerPic{
    position: relative;
}
#canvas-container{
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .title{
       position: absolute;
       right: 0;
       bottom: 0;
       top: 50%;
       left: 0;
       margin: auto;
       z-index: 50;
  }

// 分類
.panel{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    top:600px;
}
.button-group{
    text-align: left;
    width: 1200px;
    margin: auto;
    padding: 0 20px 0 0 ;
    margin-bottom: 20px;
}
.button{
    @include skewBtn(100px,40px);
    display: inline-block;
    padding: 8px 30px;
    margin: 0px 0px;
    background: transparent;
    // border: 1px solid transparent;
    color: $fontColorBlue;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    span{
        @include skewBtnText(4px, 25px);
    }
.button.all {
        // padding: 8px 30px; // margin: 10px 20px;
        // background: transparent;
        // border: 1px solid $fontColorBlue;
        @include skewBtnAll(100px, 40px);
        span {
            @include skewBtnTextAll(4px, 28px);
        }
    }
    
}
.button:hover {
    background-color: $fontColorBlue;
    color: #222;
}
.button:active,
.button.is-checked {
    background-color: $fontColorBlue;
}
.button.is-checked {
    color:$fontColorBlack;
}
#tripShare{
    border: 1px solid $fontColorBlue;
    float: right;
    padding: 8px 30px;
    margin: 10px 20px;
}
// 分享行程
.tripWrap{
    width: 1200px;
    margin: auto;
    border-top: 1px solid $fontColorBlue;
    padding: 20px 0 20px 0;
}
.tripBox{
    width: 31%;
    height:300px;
    // background-color: #rgba();
    // border: 2px solid $borderColorGreen;
    margin: 1%;
    position: relative;
}
 .tripTag{
     padding: 20px 15px 20px 15px;
     position: absolute;
     top: 0;
     right: 0;
     font-size: 0;
}
.tripPic{
	width: 90%;
	margin: auto;
	position: absolute;
	top:6%;
	left: 0;
	right: 0;
    bottom: 0;
}
.tripIcon{
    position: absolute;
    bottom: 25%;
    left: 0;
}
.tripPlanet,.tripKind{
    font-size: 16px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    padding: 5px;
    background-color:$fontColorBlue;
    border-radius:3px; 
}
// 屬性
// .blue{
//     border: 2px solid  $borderColorBlue;
// }
// .green{
//     border: 2px solid  $borderColorGreen;
// }
// .orange{
//     border: 2px solid $borderColorOrange;
// }
.tripPlanet.blue{
    background: $fontColorBlue;
}
.tripPlanet.orange{
    background: $sandPlanet; 
}
.tripPlanet.green{
    background:$treePlanet;
}
.tripKind.adventure{
    background: $adventure;
}
.tripKind.food{
    background: $food;
}
.tripKind.culture{
    background: $culture;
}
.tripKind.nalgene{
    background: $nalgene;
}
.tripKind.technology{
    background:$technology;
}


.tripTxt{
    padding: 15px;
    letter-spacing: 1px;
    padding: 5px;
    h4{
        line-height: 30px;
        padding: 10px;
    }
    p{
        padding: 10px;
    }
}
.tripIcon{
    text-align: right;
    div{
        text-align: center;
        display:inline-block;
    }
    img{
        width: 20px;
        padding: 5px;
    }
    p{
        letter-spacing: 1px;
        padding: 10px;
    }
}

@import "layout/footer";
@import "layout/medium";
@import "layout/desktop";