@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@include body(12px);
*{
     outline: 1px solid #fff;
 }
img{
    width: 100%;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: $fontColorWhite;
}
@import "layout/nav";
@import "layout/nav-small";
// content
.wrap {
    width: 100%;
    margin: auto;
}
// 分類
.tripKind{
    width: 80%;
    text-align: center;
    margin: auto;
}
.tripKind li{
    display: inline-block;
    border: 1px solid $fontColorBlue;
    border-radius: 3px;
    padding: 10px;
}
hr{
    width: 80%;
}
.tripWrap{
    width: 80%;
    display: flex; 
    margin: auto;
}
.tripBox{
    width: 33.33%;
}

@import "layout/footer";
@import "layout/medium";
@import "layout/desktop";