@import 'base/var';
@import 'base/reset';

@import 'mixin/mixin';

$fontWhiteTitle:rgba(255,255,255,.8);
$fontWhiteContent:rgba(255,255,255,.7);

.clearfix{
    clear:both;
}

.userFull{
    background-image: url('../img/backend-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    overflow: auto;
    img{
        vertical-align: middle;
    }
}
nav{
    width:15%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top:0;
    left:0;
    height:100%;
    box-sizing: border-box;
    .navUser{
        width:100%;
        height:200px;
        .logo{
            width:50%;
            float: left;
            box-sizing: border-box;
            padding:10px;
            img{
                width:100%;
            }
        }
        .userName{
            width:50%;
            float: left;
            color:#FFF;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            h3{
                padding:20% 0;
            }
            .loginOut{
                padding-top: 10%;
                text-align: right;
                a{
                    text-decoration: none;
                    color:#FFF;
                    &:hover{
                        color:$bottomColor;
                    }
                }
            }
            img{
                width:20px;
                
            }
        }
    }
    .navBarContent{
        width:100%;
        box-sizing: border-box;
        
        a{
            font:18px $fontfamily;
            // width:100%;
            padding:30px;
            // background-color: aquamarine;
            display:block;
            text-decoration: none;
            color:#FFF;
            &:hover{
                background-color: rgba(0,255,255,.3);
            }
        }
    }

}
.wrapContent{
    box-sizing: border-box;
    width:85%; 
    // background-color: #AAF;
    float:right;
    padding:10px;
    color:$fontWhiteTitle;
    
    .content{
        width:95%;
        margin:auto;
        border:2px solid $bottomColor;
        background-color:rgba(0,0,0,.7);
        text-align: left;
        h1{
            text-align: center;
            font:36px $fontfamily;
            padding: 50px;
        }
        .addUser{
            margin-left: 70px;
            margin-bottom: 20px;
            background-color: rgba(0, 0, 0,4); 
            border: 1px solid rgba(0,255,255,1);
            border-radius: 3px;
            color: $fontWhiteTitle;
            padding: 5px 10px;
            text-align:center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            outline: none;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,255,255,.8); 
                color:#000;
            }
        }
    }
}
.userTable{
    width:100%;
    text-align: center;
    tr,td{
        padding:10px;
    }
    .tableTitle{
        background-color: rgb(194, 162, 94);
        color:#000;
        // font-weight: bold;
    }
}