@import 'base/var';
@import 'base/reset';

@import 'mixin/mixin';

@import 'layout/desktop';
@import 'layout/medium';
@import 'layout/small';

//額外變數
$bottonborderR:3px;
$fontChinese:'微軟正黑體';
//body
@include body(14px);
*{
    // outline: 1px solid #F00;
}
//nav
@import 'layout/nav';

img{
    width:100%;
    vertical-align: middle;
}
a{
    text-decoration: none; color: #fff;
}


.full{
    width:100%;
    // position: absolute;
    // top:0;
    // left:0;
    overflow: hidden;
    .slider{
        margin: auto;
        margin-top: 10%;
        width:60%;
        // background-color: #CCC;
        
        // overflow: hidden;
        .wrapQuiz{
            height: 700px;
            position: relative;
            width:100%;
            .sectionQuiz{
                // display: none;
                height:100%;
                width:100%;
                text-align: center;
                position: absolute;
                top:0;
                left:100%;
                color:#FFF;
                // background-color: #000;
                h2{
                    text-shadow: 1px 1px 20px rgba(255,255,255,1);
                    font-family: $fontChinese;
                }
            }

            .sectionQuiz1{
                left:0;
                top:-200%;
                
                // background-color: rgb(94, 12, 19);
                display:block;
                .ansTrip{
                    width:100%;
                    padding-top:10%;
                    
                    h2{
                        padding-bottom: 10%;
                    }
                    .recommendTrip{
                        width:200px;
                        margin:auto;
                        position: relative;
                        .ansTxtGroup{
                            position: absolute;
                            left:0;
                            right:0;
                            margin:auto;
                            padding-top: 20%;
                            h3{
                                padding-top:15%;
                                font-size: 24px;
                                font-family: $fontChinese;
                            }
                            h4{
                                padding-top:15%;
                                font-size: 18px;
                                font-family: $fontChinese;
                            }
                            
                        }
                        .sandPlanet{
                            width:100px;
                            top:-50px;
                            left:50px;
                            position: absolute;
                            // cursor: pointer;
                        } 
                        .sandPic{
                            display:block;
                            border:1px solid #CCC;
                            // cursor: pointer;
                        }
                    }
                    .ansBtn{
                            width:100px;
                            height:30px;
                            background-color: rgb(107, 79, 56);
                            border-radius: 3px;
                            margin:-15px auto;
                            line-height: 30px;
                            position: absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            cursor: pointer;
                            border-radius: $bottonborderR;
                            font-size:16px;
                            font-family: $fontChinese;
                            // &:hover{
                                
                            //     background-color:rgba(0,0,0,.4);
                            //     color:rgba(255,255,255,.8);
                            
                            // }
                        }
                }    
            }
            .sectionQuiz2{
                width:100%;
                // background-color:#000;
                left:-100%;
                top:-100%;
                .quiz4{
                    width:100%;
                    padding-top:10%;
                    h2{
                        padding-bottom: 10%;
                    }
                    .days{
                        width:50%;
                        float: left;
                        .daysGroup{
                            cursor: pointer;
                            width:129px;
                            margin:auto;
                            position: relative;
                            // background-color: #CCC;
                            height:132px;
                            img{
                                display:block;
                                position: absolute;
                                top:0;
                                left:0;
                            }
                            .days3,.days5{
                                margin:auto;
                                // padding-top:30px;
                                position: relative;
                                top:40px;
                                width:60px;
                                height:50px;
                                -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
                                border-radius: 3px;
                                background-color: #6cd5ff;
                                line-height: 50px;
                                font-size: 24px;
                                font-family: $fontChinese;
                            }
                        }
                    }
                }
            }

            .sectionQuiz3{
                
                width:100%;
                // background-color: #AAA;
                top:-200%;
                
                .quiz3{
                    width:100%;
                    padding-top:10%;
                    h2{
                        padding-bottom: 10%;
                    }
                    .landscape{
                        width:33.3333%;
                        float: left;
                        padding-bottom: 5%;
                        position: relative;
                    .landscapePic{
                        width:70%;
                        margin:auto;
                        padding: 10px;
                        border:1px solid #FFF; 
                        cursor: pointer;
                    }
                    .landscapeBtn{
                        position: absolute;
                        bottom:0;
                        left:0;
                        right:0;
                        width:100px;
                        height:30px;
                        margin:auto;
                        line-height: 30px;
                        background-color: $bottomColor;
                        color:#000;
                        cursor: pointer;
                        border-radius: $bottonborderR;
                        h5{
                            font-size:16px;
                            font-family: $fontChinese;
                        }
                        
                        &:hover{
                            border: 1px solid #fff;
                            background-color:rgba(0,0,0,.4);
                            color:rgba(255,255,255,.8);
                        
                        }
                    }
                } 
            }
        }

            .sectionQuiz4{
                width:100%;
                
                // background-color: rgb(38, 132, 219);
                top:0;
                left:0;
                opacity: 0;
                .quiz2{
                    width:100%;
                    padding-top:10%;
                    h2{
                    padding-bottom: 10%;
                    }
                    .alien{
                        width:33.3333%;
                        float: left;
                        padding-bottom: 5%;
                        position: relative;
                        .alienPic{
                            width:70%;
                            margin:auto;
                            padding: 10px;
                            border:1px solid #FFF; 
                            cursor: pointer;
                        }
                        .alienBtn{
                            position: absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            width:100px;
                            height:30px;
                            margin:auto;
                            line-height: 30px;
                            background-color: $bottomColor;
                            color:#000;
                            cursor: pointer;
                            border-radius: $bottonborderR;
                            h5{
                                font-size:16px;
                                font-family: $fontChinese;
                            }
                            
                            &:hover{
                                border: 1px solid #fff;
                                background-color:rgba(0,0,0,.4);
                                color:rgba(255,255,255,.8);
                            }
                        }
                    }
                }
                
            }

            .sectionQuiz5{
                width:100%;
                transform: scale(1);
                opacity: 1;
                // background-color: #FAA;
                top:0;
                left:0;
                // .cirLight{
                //     width:10px;
                //     height:10px;
                //     border-radius: 50%;
                //     position: absolute;
                //     left:50%;
                //     top:50%;
                //     z-index: 10;
                //     background-color: #FFF;
                // }
                .quiz1{
                    width:100%;
                    margin: auto;
                    padding-top:10%;
                    
                    h2{
                        padding-bottom: 10%;
                        
                        }
                    .gender{
                        width:50%;
                        float: left;
                        position: relative;
                        padding-bottom: 5%;
                        
                        .genderPic{
                            padding:10px;
                            border:1px solid #FFF;
                            width:30%;
                            margin: auto;
                            cursor: pointer;
                            overflow: hidden;

                        }
                        .genderBtn{
                            position: absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            width:100px;
                            height:30px;
                            margin:auto;
                            line-height: 30px;
                            background-color: $bottomColor;
                            border: 1px solid transparent;
                            color:#000;
                            cursor: pointer;
                            border-radius: $bottonborderR;
                            h5{
                                font-size:16px;
                                font-family: $fontChinese;
                            }
                            
                            &:hover{
                                border: 1px solid #fff;
                                background-color:rgba(0,0,0,.4);
                                color:rgba(255,255,255,.8);
                            }
                        }
                    }
                }
            }
        }
    }
}

//quiz1動畫
.activeDown{
    animation: quiz1 2s cubic-bezier(.41,1.6,.42,.66);
}
@keyframes quiz1{
    0%{top:-200%;}
    100%{top:0;}
}
//quiz4-hover
.hover1{
    animation: poa1 5s linear infinite;
}
.hover2{
    animation: poa2 5s linear infinite;
}
@keyframes poa1{
    0%{transform: rotate(0deg) ;}
    100%{ transform: rotate(360deg);}
}
@keyframes poa2{
    0%{transform: rotate(0deg) ;}
    100%{ transform: rotate(-360deg);}
}




//particle js

canvas{ 
    display: block; 
    vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
#particles-js{ 
    top:0;
    left:0;
    position:absolute; 
    width: 100%; 
    height: 100%;
    background-color: #232741; 
    /* background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");  */
    // background-image: url("../img/5816dc518217d.jpg");
    background-repeat: no-repeat; 
    background-size: 100%; 
    // background-position: 50% 50%; 
    z-index: -1;
} 
   

