@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@include body(12px);
<<<<<<< HEAD
// *{
//     outline: 1px solid #fff;
// }
img{
=======
* {
    outline: 1px solid #f00;
}

img {
>>>>>>> 063858e8d869fe858be280f4b4766cc55a0637fc
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $fontColorWhite;
}

@import "layout/nav";
section {
    width: 80%;
    height: 3000px;
    margin: auto;
}

@import "layout/footer";
@import "layout/nav-small";
@import "layout/medium";
@import "layout/desktop";