@import "base/var";
@import "base/reset";
@import "mixin/mixin";
@include body(12px);
// *{
//     outline: 1px solid #fff;
// }
img{
    width: 100%;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: $fontColorWhite;
}
@import "layout/nav";
section{
    width: 80%;
    height: 3000px;
}
@import "layout/footer";
@import "layout/nav-small";
@import "layout/medium";
@import "layout/desktop";


