
@include respond(small){
    //手機
    nav{
        width: 100%;
        height: 50px;
        box-sizing: content-box;
        padding: 5px 0 5px 0;
        background-image: $gradation;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        // text-align: center;
        letter-spacing: 2px;
        font-size: 18px;
    }
    .navColor{
        width: 100%;
        height: 60px;
        z-index: 80;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .logo{
        width: 50px;
    }
    .menu,.member{
        display: none;
    }
    // 漢堡選單
    .hambger{
        width: 22px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        z-index: 110;
        margin: auto; }
    }
    .line{
      width: 100%;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50px;
      background-color: $fontColorWhite;
      transform: translate(-50%,-50%) rotate(0deg);
      transition: all ease 0.5s;
    }
    .line:before,.line:after{
        content:"";
        position: absolute;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
        margin: auto;
        width: 50%;
        transition: all ease 0.5s;
      }
    .line:before{
        top: -8px;
        left: 0;
        transform-origin: left;
      }
    .line:after{
        bottom:-8px;
        right: 0;
        transform-origin: right;
      }
    
    .open{
      transform:translate(-50%,-50%) rotate(135deg);
    }
    .open:before{
        top:0;
        transform: translateX(100%) rotate(-90deg);
      }
    .open:after{
        bottom:0;
        transform: translateX(-100%) rotate(-90deg);
      } 

    .menuMobile{
        display: block;
        width: 100%;
        height: 100vh;;
        line-height: 40px;
        padding-top: 50px;
        background-color: $navColor;
        position: absolute;
        top: 60px;
        right: -100%;
        transition: .8s;
    }
    .activeM{
        position: absolute;
        top: 60px;
        right: 0;
    }
    .activeB{
        color:$fontColorBlue;
    }
  
