

@include respond(small){
    img{
        width:100%;
        vertical-align: middle;
    }
    a{
        text-decoration: none; color: #fff;
    }
    
    ::-webkit-scrollbar {
        width: 15px;
        background: #202164; }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #95cce4;
        border-radius: 10px; }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #2f83ad; }
    .full{
        width:100%;
        overflow: hidden;
        .slider{
            margin: auto;
            margin-top: 20%;
            width:80%;
            .wrapQuiz{
                height: 700px;
                min-height: 880px;
                position: relative;
                width:100%;
                .sectionQuiz{
                    display: none;
                    height:100%;
                    width:100%;
                    text-align: center;
                    position: absolute;
                    top:0;
                    left:100%;
                    color:#FFF;
                    // background-color: #000;
                    h2{
                        text-shadow: 1px 1px 20px rgba(255,255,255,1);
                        font-family: $fontChinese;
                    }
                }
    
                .sectionQuiz1{
                    left:0;
                    top:-200%;
                    .ansTrip{
                        width:100%;
                        padding-top:0px;
                        
                        h2{
                            padding-top: 10%;
                            padding-bottom: 30%;
                            font-size: 24px;
                        }
                        .recommendTrip{
                            width:50%;
                            margin:auto;
                            position: relative;
                            
                            .ansTxtGroup{
                                position: absolute;
                                left:0;
                                right:0;
                                margin:auto;
                                padding-top: 20%;
                                h3{
                                    padding-top:15%;
                                    font-size: 24px;
                                    font-family: $fontChinese;
                                }
                                h4{
                                    padding-top:15%;
                                    font-size: 18px;
                                    font-family: $fontChinese;
                                }
                                
                            }
                            .sandPlanet{
                                width:50%;
                                top:-20%;
                                left:25%;
                                position: absolute;
                                display: block;
                                box-shadow: 2px 2px 3px rgba(0,0,0,.6) ;   
                                border-radius: 50%;
                            } 
                            .sandPic{
                                display:block;
                                // border:1px solid #CCC;
                                // cursor: pointer;
                            }
                            .sandBorder{
                                position: absolute;
                                top:-30%;
                                left:-25%;
                                width:150%;
                               
                            }
                        }
                        .ansBtn{
                                width:100px;
                                height:30px;
                                background-color: rgb(107, 79, 56);
                                border-radius: 3px;
                                margin:auto;
                                line-height: 30px;
                                position: absolute;
                                bottom:-25%;
                                left:0;
                                right:0;
                                cursor: pointer;
                                border-radius: $bottonborderR;
                                font-size:16px;
                                font-family: $fontChinese;
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                            }
                    }    
                }
                .sectionQuiz2{
                    width:100%;
                    // background-color:#000;
                    left:-100%;
                    top:-100%;
                    .quiz4{
                        width:100%;
                        padding-top:0px;
                        h2{
                            
                            padding-bottom: 20%;
                            font-size: 24px;
                        }
                        .days{
                            width:50%;
                            float: none;
                            padding-bottom:35%;
                            margin:auto;
                            .daysGroup{
                                
                                width:129px;
                                margin:auto;
                                position: relative;
                                // background-color: #CCC;
                                height:132px;
                                img{
                                    display:block;
                                    position: absolute;
                                    top:0;
                                    left:0;
                                }
                                .cirBorder{
                                    width:150%;
                                    left:-25%;
                                    top:-25%;
                                }
                                .days3,.days5{
                                    cursor: pointer;
                                    margin:auto;
                                    // padding-top:30px;
                                    position: relative;
                                    top:40px;
                                    width:60px;
                                    height:50px;
                                    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
                                    border-radius: 3px;
                                    background-color: #6cd5ff;
                                    line-height: 50px;
                                    font-size: 24px;
                                    font-family: $fontChinese;
                                    color:rgba(0,0,0,.8);
                                }
                            }
                        }
                    }
                }
    
                .sectionQuiz3{
                    
                    width:100%;
                    // background-color: #AAA;
                    top:-200%;
                    
                    .quiz3{
                        width:100%;
                        padding-top:0px;
                        h2{
                            
                            padding-bottom: 10%;
                            font-size: 24px;
                        }
                        .landscape{
                            width:100%;
                            float: none;
                            padding-bottom: 35%;
                            position: relative;
                        .landscapePic{
                            width:50%;
                            margin:auto;
                            padding: 10px;
                            // border:1px solid #FFF; 
                            
                            .landPicBorder{
                                width:70%;
                                display:block;
                                position: absolute;
                                left:0;
                                right:0;
                                top:-8%;   
                                margin:auto;
                                
                            }
                        }
                        .landscapeBtn{
                            position: absolute;
                            
                            left:0;
                            right:0;
                            margin:auto;
                            h5{
                                font-size:16px;
                                font-family: $fontChinese;
                                cursor: pointer;
                            }
                            @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                        }
                    } 
                }
            }
    
                .sectionQuiz4{
                    width:100%;
                    display: none;
                    top:0;
                    left:0;
                    opacity: 0;
                    .quiz2{
                        width:100%;
                        padding-top:0px;
                        h2{
                        padding-bottom: 15%;
                        font-size: 24px;
                        }
                        .alien{
                            width:100%;
                            float: none;
                            padding-bottom: 35%;
                            position: relative;
                            .alienPic{
                                width:35%;
                                margin:auto;
                                padding: 10px;
                                // border:1px solid #FFF; 
                                
                                .alienPicBorder{
                                    width:50%;
                                    display:block;
                                    position: absolute;
                                    left:0;
                                    right:0;
                                    top:-10%;   
                                    margin:auto;
                                    
                                }
                            }
                            .alienBtn{
                                position: absolute;
                                
                                left:0;
                                right:0;
                                margin:auto;
                                h5{
                                    font-size:16px;
                                    font-family: $fontChinese;
                                    cursor: pointer;
                                }
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                
                            }
                        }
                    }
                    
                }
    
                .sectionQuiz5{
                    width:100%;
                    transform: scale(1);
                    opacity: 1;
                    top:0;
                    left:0;
                    .quiz1{
                        width:100%;
                        margin: auto;
                        padding-top:0px;
                        h2{
                            
                            padding-bottom: 15%;
                            font-size:24px;
                            }
                        .gender{
                            width:100%;
                            float: none;
                            position: relative;
                            padding-bottom: 35%;
                            
                            .genderPic{
                                padding:10px;
                                // border:1px solid #FFF;
                                width:30%;
                                margin: auto;
                                overflow: hidden;
                                .genderBorderL,.genderBorderR{
                                    width:50%;
                                    display:block;
                                    position: absolute;
                                    left:0;
                                    right:0;
                                    top:-10%;   
                                    margin:auto; 
                                                                
                                }
                            }
                            .genderBtn{
                                position: absolute;
                                // bottom:0;
                                left:0;
                                right:0;
                                margin:auto;
                                margin-bottom:50px;
                                h5{
                                    font-size:16px;
                                    font-family: $fontChinese;
                                    cursor: pointer;
                                }
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
    //quiz1動畫
    .activeDown{
        animation: quiz1 2s cubic-bezier(.41,1.6,.42,.66);
    }
    @keyframes quiz1{
        0%{top:-200%;}
        100%{top:0;}
    }
    //quiz4-hover
    .hoverCirCenter{
        animation: cirCenter 5s linear infinite;
    }
    .hoverCirMiddle{
        animation: cirMiddle 5s linear infinite;
    }
    .hoverCirBorder{
        animation: cirBorder 8s linear infinite;
    }
    @keyframes cirCenter{
        0%{transform: rotate(0deg) ;}
        100%{ transform: rotate(360deg);}
    }
    @keyframes cirMiddle{
        0%{transform: rotate(0deg) ;}
        100%{ transform: rotate(-360deg);}
    }
    @keyframes cirBorder{
        0%{transform: rotate(0deg) ;}
        100%{ transform: rotate(360deg);}
    }
    
    
    
    
    //particle js
    
    canvas{ 
        display: block; 
        vertical-align: bottom; 
    } 
    /* ---- particles.js container ---- */ 
    #particles-js{ 
        top:0;
        left:0;
        position:absolute; 
        width: 100%; 
        height: 150%;
        background-color: #232741; 
        /* background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");  */
        background-image: url("../img/poa/bg11-2.png");
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: 50% 50%;
        z-index: -1;
    } 
       
    
    //開場動畫
    
    .ml11 {
        font-weight: 900;
        font-size: 2.5em;
        z-index: 999;
        text-align: center;
        position: absolute;
        left:0;
        right:0;
        top:5%;
      }
      
      .ml11 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.1em;
        padding-right: 0.05em;
        padding-bottom: 0.15em;
        z-index: 999;
        top:300px;
      }
      
      .ml11 .mlline {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #fff;
        transform-origin: 0 50%;
        z-index: 999;
        
      }
      
      .ml11 .mlline1 { 
        top: 0; 
        left: 0;
        z-index: 999;
      }
      
      .ml11 .letter {
        display: inline-block;
        line-height: 1em;
        z-index: 999;
      }
};