


@include respond(desktop){
    
    .full{
        .slider{
            margin: auto;
            margin-top: 5%;
            width:60%;
            .wrapQuiz{
                height: 700px;
                position: relative;
                width:100%;
                .sectionQuiz{
                    display: none;
                    height:100%;
                    width:100%;
                    text-align: center;
                    position: absolute;
                    top:0;
                    left:100%;
                    color:#FFF;
                    h2{
                        text-shadow: 1px 1px 20px rgba(255,255,255,1);
                        font-family: $fontChinese;
                    }
                }
    
                .sectionQuiz1{
                    left:0;
                    top:-200%;
                    .ansTrip{
                        width:100%;
                        padding-top:10%;
                        
                        h2{
                            padding-bottom: 10%;
                        }
                        .recommendTrip{
                            width:20%;
                            margin:auto;
                            position: relative;
                            cursor: pointer;
                            .ansTxtGroup{
                                position: absolute;
                                left:0;
                                right:0;
                                margin:auto;
                                padding-top: 20%;
                                h3{
                                    padding-top:15%;
                                    font-size: 24px;
                                    font-family: $fontChinese;
                                }
                                h4{
                                    padding-top:15%;
                                    font-size: 18px;
                                    font-family: $fontChinese;
                                }
                                
                            }
                            .sandPlanet{
                                width:50%;
                                top:-20%;
                                left:25%;
                                position: absolute;
                                
                            } 
                            .sandPic{
                                display:block;
                            }
                            .sandBorder{
                                position: absolute;
                                top:-30%;
                                left:-25%;
                                width:150%;
                               
                            }
                        }
                        .ansBtn{
                                width:100px;
                                height:30px;
                                background-color: rgb(107, 79, 56);
                                border-radius: 3px;
                                margin:auto;
                                line-height: 30px;
                                position: absolute;
                                bottom:-25%;
                                left:0;
                                right:0;
                                cursor: pointer;
                                border-radius: $bottonborderR;
                                font-size:16px;
                                font-family: $fontChinese;
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                            }
                    }    
                }
                .sectionQuiz2{
                    width:100%;
                    left:-100%;
                    top:-100%;
                    .quiz4{
                        width:100%;
                        padding-top:10%;
                        h2{
                            padding-bottom: 10%;
                        }
                        .days{
                            width:50%;
                            float: left;
                            .daysGroup{
                                cursor: pointer;
                                width:129px;
                                margin:auto;
                                position: relative;
                                height:132px;
                                img{
                                    display:block;
                                    position: absolute;
                                    top:0;
                                    left:0;
                                }
                                .cirBorder{
                                    width:150%;
                                    left:-25%;
                                    top:-25%;
                                }
                                .days3,.days5{
                                    margin:auto;
                                    position: relative;
                                    top:40px;
                                    width:60px;
                                    height:50px;
                                    -webkit-clip-path:polygon(25% 0%, 75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
                                    border-radius: 3px;
                                    background-color: #6cd5ff;
                                    line-height: 50px;
                                    font-size: 24px;
                                    font-family: $fontChinese;
                                    color:rgba(0,0,0,.8);
                                }
                            }
                        }
                    }
                }
    
                .sectionQuiz3{
                    width:100%;
                    top:-200%;
                    .quiz3{
                        width:100%;
                        padding-top:10%;
                        h2{
                            padding-bottom: 10%;
                        }
                        .landscape{
                            width:33.3333%;
                            float: left;
                            padding-bottom: 5%;
                            position: relative;
                        .landscapePic{
                            width:60%;
                            margin:auto;
                            padding: 10px;
                            cursor: pointer;
                            .landPicBorder{
                                width:90%;
                                display:block;
                                position: absolute;
                                left:0;
                                right:0;
                                top:-20%;   
                                margin:auto;
                                
                            }
                        }
                        .landscapeBtn{
                            position: absolute;
                            bottom:0;
                            left:0;
                            right:0;
                            margin:auto;
                            h5{
                                font-size:16px;
                                font-family: $fontChinese;
                            }
                            @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                        }
                    } 
                }
            }
    
                .sectionQuiz4{
                    width:100%;
                    display: none;
                    top:0;
                    left:0;
                    opacity: 0;
                    .quiz2{
                        width:100%;
                        padding-top:10%;
                        h2{
                        padding-bottom: 10%;
                        }
                        .alien{
                            width:33.3333%;
                            float: left;
                            padding-bottom: 5%;
                            position: relative;
                            .alienPic{
                                width:60%;
                                margin:auto;
                                padding: 10px;
                                cursor: pointer;
                                .alienPicBorder{
                                    width:80%;
                                    display:block;
                                    position: absolute;
                                    left:0;
                                    right:0;
                                    top:-15%;   
                                    margin:auto;
                                    
                                }
                            }
                            .alienBtn{
                                position: absolute;
                                bottom:0;
                                left:0;
                                right:0;
                                margin:auto;
                                h5{
                                    font-size:16px;
                                    font-family: $fontChinese;
                                }
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                            }
                        }
                    }
                    
                }
    
                .sectionQuiz5{
                    width:100%;
                    transform: scale(1);
                    opacity: 1;
                    top:0;
                    left:0;
                    
                    .quiz1{
                        width:100%;
                        margin: auto;
                        padding-top:10%;
                        
                        h2{
                            padding-bottom: 10%;
                            
                            }
                        .gender{
                            width:50%;
                            float: left;
                            position: relative;
                            padding-bottom: 5%;
                            
                            .genderPic{
                                padding:10px;
                                width:30%;
                                margin: auto;
                                cursor: pointer;
                                overflow: hidden;
                                .genderBorderL,.genderBorderR{
                                    width:45%;
                                    display:block;
                                    position: absolute;
                                    left:0;
                                    right:0;
                                    top:-10%;   
                                    margin:auto;                             
                                }
                            }
                            .genderBtn{
                                position: absolute;
                                bottom:0;
                                left:0;
                                right:0;
                                margin:auto;
                                h5{
                                    font-size:16px;
                                    font-family: $fontChinese;
                                }
                                @include btn($wi:100px, $he:34px, $fs:18px, $lh:34px);
                                &:hover{
                                    @include btnHover();
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
   
   
    //開場動畫
    
    .ml11 {
        top:45%;
      }

};