@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

.userFull {
  font-family: "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  /*background-image: url("../img/poa/backend-bg2.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #DEDEDE;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: auto; }
  .userFull img {
    vertical-align: middle; }

nav {
  width: 15%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box; }
  nav .navUser {
    width: 100%;
    height: 200px; }
    nav .navUser .logo {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 10px; }
      nav .navUser .logo img {
        width: 100%; }
    nav .navUser .userName {
      width: 50%;
      float: left;
      color: #FFF;
      box-sizing: border-box;
      padding: 10px;
      text-align: left; }
      nav .navUser .userName h3 {
        padding: 20% 0; }
      nav .navUser .userName .loginOut {
        padding-top: 10%;
        text-align: right; }
        nav .navUser .userName .loginOut a {
          text-decoration: none;
          color: #FFF; }
          nav .navUser .userName .loginOut a:hover {
            color: #6cd5ff; }
      nav .navUser .userName img {
        width: 20px; }
  nav .navBarContent {
    width: 100%;
    box-sizing: border-box; }
    nav .navBarContent a {
      font: 18px "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
      padding: 30px;
      display: block;
      text-decoration: none;
      color: #FFF; }
      nav .navBarContent a:hover {
        background-color: rgba(0, 255, 255, 0.3); }

.wrapContent {
  box-sizing: border-box;
  width: 85%;
  float: right;
  padding: 10px;
  color: rgba(0,0,0,.8); }
  .wrapContent .content {
    width: 95%;
    margin: auto;
    border: 1px solid rgba(0,0,0,.5);
    background-color: #ccc;
    text-align: left; }
    .wrapContent .content h1 {
      text-align: center;
      font: 36px "微軟正黑體", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
      padding: 50px; }
    .wrapContent .content .addUser {
      margin-left: 70px;
      margin-bottom: 20px;
      background-color: black;
      border: 1px solid cyan;
      border-radius: 3px;
      color: rgba(255, 255, 255, 0.8);
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      outline: none;
      cursor: pointer; }
      .wrapContent .content .addUser:hover {
        background-color: rgba(0, 255, 255, 0.8);
        color: #000; }

.userTable {
  width: 100%;
  text-align: center; }
  .userTable tr, .userTable td {
    padding: 10px; }
  .userTable .tableTitle {
    background-color: #000;
    color: #FFF; }
    .userTable tr:nth-child(even){
      background-color: #FFF;
    }
.pic{
  text-align: center;
  width: 150px;
  height: 90px;
}
.pic img{
  width: 100%;
  height: 100%;   
}
.schContent{
  line-height: 26px;
  text-align: left;
}