// body
$bgcolor: rgb(27, 52, 11);
$bgimg: url(../img/bg.png);
$fontfamily: '微軟正黑體','Gill Sans','Gill Sans MT','Calibri','Trebuchet MS',sans-serif;
$margintop: 13px;
 

// nav
$gradation:linear-gradient(to top,rgba(0,255,255,.3), rgba(0,183,255,.3) 100%);
$navColor:  rgba(0,255,255,.3);


// bottom
$bottomColor: #6cd5ff;


//rwd
$small : 767px;
$medium: 992px;
$desktop: 1233px;

// color
$fontColorWhite:#fff;
$fontColorBlue:#6cd5ff;
$fontColorBlack:#000;

// 方框樣式

// 屬性顏色
$adventure:#ff492b;
$food:#ffb22b;
$culture:#00c759;
$nalgene:#00c6c7;
$technology:#852bff;


// 星球顏色
$waterPlanet: #6cd5ff;
$treePlanet: rgb(128, 194, 105);
$sandPlanet:rgb(207, 169, 114);


