// body
$bgcolor: rgb(27, 52, 11);
$bgimg: url(../img/bg.png);
$fontfamily: '微軟正黑體','Gill Sans','Gill Sans MT','Calibri','Trebuchet MS',sans-serif;
$margintop: 13px;
 

// nav
$gradation:linear-gradient(to top,rgba(0,255,255,.3), rgba(0,183,255,.3) 100%);
$navColor:  rgba(0,255,255,.3);


// bottom
$bottomColor: #6cd5ff;


//rwd
$small : 767px;
$medium: 992px;
$desktop: 1233px;

// color
$fontColorWhite:#fff;
$fontColorBlue:#6cd5ff;
$fontColorBlack:#000;

// 方框樣式
