.wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

/* Track */
.track1{
    width: 120%;
    position: absolute;
    top: -10%;
    left: 0;
    right: -30%;
    z-index: -60;
    margin: auto;
    opacity: .2;
    animation: circleL 30s infinite linear;
}
.track2{
    width: 120%;
    position: absolute;
    top: -10%;
    left: 0;
    right: -30%;
    z-index: -60;
    margin: auto;
    opacity: .3;
    animation: circleR 20s infinite linear;
}
// banner動畫
@keyframes move{
    0%{
        transform: translate(200%,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}
@keyframes circleL{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes circleR{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
// banner
.bannerPic{
    position: relative;
}
.banner{
    height: 447.09px;
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -50;
        margin: auto;
    }
}
#canvas-container{
    position: absolute;
    bottom:10%;
    right: 0;
    left: 0;
    z-index: 0;
  }
#sineCanvas{
    animation: move 25s infinite linear;
}
  .title{
      text-align: center;
       position: absolute;
       right: 0;
       bottom: 0;
       top: 60%;
       left: 0;
       margin: auto;
       z-index: 50;
  }

// content
.content{
    width: 1200px;
    margin: auto;
    display: flex;
}
.button-group{
    // width: 1200px;
    width: 20%;
    padding: 0 20px 0 0 ;
}
.button.all {
    @include skewBtnAll(100px, 40px);
    margin: 20px;
    span{
       @include skewBtnTextAll(4px, 25px); 
    }
}
.button{
    @include skewBtn(100px,40px);
    position: relative;
    margin: 20px;
    display: block;
    cursor: pointer; 
    span{
        @include skewBtnText(4px, 25px);
    } 
}
.button:hover {
    @include  btnHover() ;
}
.button:active,
.button.is-checked {
    background-color: $fontColorBlue;
}
.button.is-checked {
    color:$fontColorBlack;
}
// 分享按鈕
.shareBtn{
    width: 1200px;
    padding-right:80px; 
    margin: auto;
}
#tripShare{
    @include btn();
    font-size: 20px;
    float: right;
    width: 150px;
    height: 55px;
}  
#tripShare:hover{
    @include btnHover();
}
.shareBtn:after{
    content: '';
    display: block;
    clear: both;
}
// 行程分享跳窗
.shareLightBg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 180;
    background-color: rgba(0,0,0,.2);
    display: none;
}
.shareLightBg.show{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 180;
    background-color: rgba(0,0,0,.2);
    display: block
}
.lightBox{
    width: 1000px;
    height: 700px;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url(../img/refer/lightboxbg.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.close{
    float: right;
    margin: 20px;
    img{
        width: 20px;;
    }
}
.close:after{
    content: '';
    display: block;
    clear: both;
}
.shareContentBox{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.mytripSocll{
    box-sizing: border-box;
    width: 35%;
    height: 600px;
    margin: auto;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid $fontColorBlue;
    overflow-x: hidden;
}
.mytrip{
    font-size: 25px;
    line-height: 30px;
    margin:auto;
    margin: 0 0 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid $fontColorBlue; 
}
.upload{
    width: 60%;
    height: 600px;
    margin: auto;
    text-align: center;
    input{
        width: 100%;
        font-size: 25px;
        color: $fontColorWhite;
        border-style:none;
        border: 1px solid $fontColorBlue;
        padding: 5px;
        box-sizing: border-box;
        background:transparent; 
    }
    button{
        @include btn(200px,60px);
        margin: 20px 0 0 0;
    }
    button:hover{
        @include aLinkBtnHover();
    }
}
.uploadPic{
    width: 100%;
    height: 400px;
    border: 1px solid $fontColorBlue;
    margin: 40px 0 20px 0;
}


// 分享行程BOX
.tripWrap{
    // width: 1200px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    // border-top: 1px solid $fontColorBlue;
    padding: 15px;
}
.tripBox{
    background-image: url(../img/refer/TES2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height:280px;
    margin: 30px;
    position: relative;
}
.tripBox:hover{
    background-image: url(../img/refer/TES2-1.png);
}
 .tripTag{
     padding: 20px 15px 20px 15px;
     position: absolute;
     top: 0;
     right: 0;
     font-size: 0;
}
.tripPic{
    width: 80%;
	margin: auto;
	position: absolute;
	top:6%;
	left: 0;
	right: 0;
}
.tripPic img:after{
    content: '';
    display: block;
    width: 100%;
}
.tripTxt{
    position: absolute;
    bottom:0;
    letter-spacing: 1px;
    padding: 10px 0 20px 40px;
    h4{
        line-height: 30px;
    }
    span{
        padding: 0 10px 0 0 ;
        margin: 0 10px 0 0 ;
        border-right: 2px solid $fontColorWhite;
    }
}
.tripIcon, .grad{
    position: absolute;
    bottom:0;
    left: 0;
}
.tripIcon{
    padding-top: 20px;
    text-align: left;
    z-index: 5;
    div{
        text-align: center;
        display:inline-block;
    }
    img{
        width: 15px;
    }
    p{
        letter-spacing: 1px;
        padding: 5px 10px 10px 10px;
    }
}
.grad{
    display: block;
    z-index: 4;
    width: 100%;
    height: 62px;
    background-image: linear-gradient(to top, rgba(0,0,0,.5) 0%,transparent 100%);
}
.tripPlanet,.tripKind{
    font-size: 16px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    padding: 5px;
    background-color:$fontColorBlue;
    border-radius:3px; 
}
// 星球屬性顏色
// .blue{
//         color: $borderColorBlue;
// }
// .green h4:hover{
//     color:  $borderColorGreen;
// }
// .orange h4:hover{
//     color:  $borderColorOrange;
// }

// 行程屬性顏色
.tripPlanet.blue{
    background: $fontColorBlue;
}
.tripPlanet.orange{
    background: $sandPlanet; 
}
.tripPlanet.green{
    background:$treePlanet;
}
.tripKind.adventure{
    background: $adventure;
}
.tripKind.food{
    background: $food;
}
.tripKind.culture{
    background: $culture;
}
.tripKind.nalgene{
    background: $nalgene;
}
.tripKind.technology{
    background:$technology;
}