h3:nth-child(1),h3:nth-child(4){
    padding: 50px 0  30px 0px;   
}
// content
section {
    width: 100%;
    margin: auto;
}
.wrap{
    width: 1200px;
    box-sizing: border-box; 
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}
.leftWrip{
    width: 65%;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}
.rightWrip{
    width: 30%;
}
 .topic{
     width: 1200px;
     margin: auto; 
     box-sizing: border-box; 
     padding: 0 100px 0 100px;
     display: flex;
     position: relative;
     margin-bottom: 100px;
}
.memberPic{
    width: 180px;
    padding: 20px;
    img{
        border-radius: 50%;
        margin-top:-80px; 
    }
}
.tripTitle{
    display: inline;
    position: absolute;
    bottom: 20px;
    left: 320px;;
    p{
       letter-spacing: 1px;
       line-height: 30px;
       font-size: 16px;
   }
       h2{
       letter-spacing: 3px;  
       line-height: 35px;       
   }
}
.detitle{
    width: 1050px;
    margin: auto;
    box-sizing: border-box;
    padding: 60px 0px 0 0px;
    position: relative;
    border-bottom: 1px solid $fontColorBlue;
}
.topicIcon{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 100px;
    margin: 20px;
    div{
        text-align: center;
        display:inline-block;
        padding:10px 0 0 0;
    }
    img{
        width: 20px;
        padding-bottom: 5px;
    }
    p{
        letter-spacing: 1px;
        font-size: 12px;
        padding: 0px 10px 0px 10px;
    }
}
.use{
    position: absolute;
    bottom: 0;
    right: 0px;
    margin-bottom: 20px;
    button{
        @include btn ();
    }
    button:hover{
        @include btnHover();
    }
}

// 行程詳細
.tripGroup{
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}
.tripWrip{
    padding: 20px 20px 20px 40px;
    display: flex;
}
.leftWrip .tripWrip ~ .tripWrip{
    border-top: 1px solid $fontColorBlue;
    border-style: dashed;
}
.tripDate{
    width: 120px;
    // padding:  0 20px 0 0 ;
    // border-right: 1px solid $fontColorBlue;
    position: relative;
    p{
        text-align: center;
        font-size: 32px;
        width: 120px;
        line-height: 120px;
        border-radius: 50%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        transition: .8s;
    }
       
}
.tripContent{
    padding: 0 0 0 20px;
    h4{
        font-size: 25px;
        padding: 10px 0 5px 0;
        letter-spacing: 1px;
    }
    p{
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 18px;
        padding: 0 0 5px 0;
        display: none;
    }
}
.tripWrip:hover .tripContent p{
    display: block;
    transition: 5s;
}
.tripWrip:hover .tripDate img:nth-child(1){
    transform: rotate(-180deg);
}
.tripWrip:hover .tripDate img:nth-child(3){
    transform: rotate(180deg);
}
// 留言列表
.commentGroup{
    height: 400px;
    overflow: auto;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}
.commentWrip{
    padding: 20px 20px 20px 40px;
    display: flex;
}
.commentGroup .commentWrip ~ .commentWrip{
    border-top: 1px solid $fontColorBlue;
}
.commentPic{
       width: 100px;
       padding:  0 20px 0 0 ;
       border-right: 1px solid $fontColorBlue;
    img{
        text-align: center;
        width: 100px;
        line-height: 100px;
        border-radius: 50%;
    }
}
.commentContent{
    padding: 0 0 0 20px;
    p{
        letter-spacing: 1px;
        padding: 0 0 5px 0;
    }
}
.memName{
    font-size: 20px;
    line-height: 30px
}
// 留言板
.commentStyle{
    padding: 5px;
    background-color:rgba(0,0,0,.5);
    margin: 10px;
}
#commentArea{
    width: 100%;
    box-sizing: border-box;
    background-color:rgba(0,0,0,.5);
    border:2px solid $fontColorBlue;
    padding: 10px;
    color: $fontColorWhite;
}
.comment{
    text-align: center;
    padding: 20px 0 100px 0;
    input{
        border-style:none;
        width: 100px;
        height: 40px;
        background-color:transparent;
        font-size: 14PX;
        letter-spacing: 2PX;
        border: 1px solid $fontColorBlue;
        color:$fontColorWhite;
    }
    input:hover{
        background-color:$fontColorBlue;
    }
}

// 行程專家
.export{
    // margin: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,.5);
    display: flex;
}
.exportPic{
    width: 50%;
    padding: 10px;
    img{
        border-radius: 50%
    }
}
.exportTxt{
    width: 70%;
    text-align: center;
    position: relative;
    padding: 0 5px 0 5px;
    p{
        font-size: 25px;
        padding: 20px 0 20px 0;
        text-align: left;
    }
    button{
        border-style:none;
        border:2px solid $fontColorWhite;
        width: 100%;
        height: 40px;
        background-color:transparent;
        border: 2px solid $fontColorBlue;
        letter-spacing: 1px;
        font-size: 14px;
        color: $fontColorWhite;
    }
    button:hover{
        background-color:$fontColorWhite;
        color: $fontColorBlue;
    }
}
// 其他行程
.tripWrap{
    // width: 1200px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    // border-top: 1px solid $fontColorBlue;
    padding: 15px;
}
.tripBox{
    background-image: url(../img/refer/TES2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height:240px;
    margin: 30px 5px 30px 5px;
    position: relative;
}
.tripBox:hover{
    background-image: url(../img/refer/TES2-1.png);
}
 .tripTag{
     padding: 20px 15px 20px 15px;
     position: absolute;
     top: 0;
     right: 0;
     font-size: 0;
}
.tripPic{
    width: 80%;
	margin: auto;
	position: absolute;
	top:6%;
	left: 0;
	right: 0;
}
.tripPic img:after{
    content: '';
    display: block;
    width: 100%;
}
.tripTxt{
    position: absolute;
    bottom:0;
    letter-spacing: 1px;
    padding: 10px 0 20px 40px;
    h4{
        line-height: 30px;
    }
    span{
        padding: 0 10px 0 0 ;
        margin: 0 10px 0 0 ;
        border-right: 2px solid $fontColorWhite;
    }
}
.tripIcon, .grad{
    position: absolute;
    bottom:0;
    left: 0;
}
.tripIcon{
    padding-top: 20px;
    text-align: left;
    z-index: 5;
    div{
        text-align: center;
        display:inline-block;
    }
    img{
        width: 15px;
    }
    p{
        letter-spacing: 1px;
        padding: 5px 10px 10px 10px;
    }
}
.grad{
    display: block;
    z-index: 4;
    width: 100%;
    height: 62px;
    background-image: linear-gradient(to top, rgba(0,0,0,.5) 0%,transparent 100%);
}
.tripPlanet,.tripKind{
    font-size: 16px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    padding: 5px;
    background-color:$fontColorBlue;
    border-radius:3px; 
}
// 星球屬性顏色
// .blue{
//         color: $borderColorBlue;
// }
// .green h4:hover{
//     color:  $borderColorGreen;
// }
// .orange h4:hover{
//     color:  $borderColorOrange;
// }

// 行程屬性顏色
.tripPlanet.blue{
    background: $fontColorBlue;
}
.tripPlanet.orange{
    background: $sandPlanet; 
}
.tripPlanet.green{
    background:$treePlanet;
}
.tripKind.adventure{
    background: $adventure;
}
.tripKind.food{
    background: $food;
}
.tripKind.culture{
    background: $culture;
}
.tripKind.nalgene{
    background: $nalgene;
}
.tripKind.technology{
    background:$technology;
}
